.icons {
  display: grid;
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style: none !important;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

.icons .icon {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 0.5rem;
}

.icons svg {
  width: 2rem;
  height: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.icons .code {
  border-radius: 4px;
  background: #efefef;
  font-weight: 500;
  font-size: calc(1rem / 1.25 / 1.25);
  font-family: 'IBM Plex Mono';
}

#story--components-icon--icon-with-text {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem;
}
