.gds-icon--inline {
  display: inline-grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 0.25em;
}

.gds-icon--inline .gds-icon {
  width: 1.2em;
}

.gds-icon--inline.gds-icon--inline--vertical {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  justify-items: center;
}
