/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* THIS IS GENERATED CODE. Any changes you make will be overwritten! */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.cds-navItemContainer {
  display: flex;
  flex-direction: column;
}
.cds-navItemContainer.cds-navItemContainer--contained {
  background-color: var(--cds-nav-background-color);
}
.cds-navItemContainer.cds-navItemContainer--contained > .cds-navItem {
  padding: var(--cds-nav-padding-y) var(--cds-nav-padding-x) 6px var(--cds-nav-padding-x);
  border-bottom: var(--cds-nav-border-width) var(--cds-nav-border-color) solid;
}
.cds-navItemContainer.cds-navItemContainer--contained > .cds-navItem:hover {
  background-color: var(--cds-nav-hover-background-color);
}
.cds-navItemContainer.cds-navItemContainer--contained .cds-subNavContainer {
  border-left: var(--cds-nav-border-width) var(--cds-nav-border-color) solid;
  border-right: var(--cds-nav-border-width) var(--cds-nav-border-color) solid;
  border-bottom: var(--cds-nav-border-width) var(--cds-nav-border-color) solid;
  padding-right: var(--cds-nav-padding-x);
}
.cds-navItemContainer.cds-navItemContainer--contained .cds-subNavContainer .cds-navItem {
  padding: 0px;
  border-bottom: var(--cds-nav-no-border);
}
.cds-navItemContainer.cds-navItemContainer--contained .cds-subNavContainer .cds-navItem:hover {
  background-color: inherit;
}
.cds-navItemContainer.cds-navItemContainer--contained .cds-navItem--active,
.cds-navItemContainer.cds-navItemContainer--contained .cds-navItem--active:hover {
  background-color: var(--cds-nav-active-background-color);
}
.cds-navItemContainer.cds-navItemContainer--contained .cds-navItem--disabled,
.cds-navItemContainer.cds-navItemContainer--contained .cds-navItem--disabled:hover {
  background-color: var(--cds-nav-disabled-background-color);
}

.cds-navItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: var(--cds-nav-action-color);
  font: var(--cds-nav-link-font);
  min-height: 25px;
  border-bottom: var(--cds-nav-no-border);
}
.cds-navItem button {
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-shrink: 0;
}
.cds-navItem i {
  font-size: 20px;
  line-height: 20px;
}
.cds-navItem a {
  text-decoration: none;
  color: inherit;
}
.cds-navItem-icon {
  flex-shrink: 0;
}
.cds-navItem .cds-navItemSvg {
  color: inherit;
}
.cds-navItem .cds-navItemExpander svg {
  transition: transform 0.3s ease-in-out;
}
.cds-navItem .cds-navItemExpander--opened svg {
  transform: rotate(180deg);
}
.cds-navItem .cds-navItem a:active {
  color: var(--cds-nav-active-action-color);
}
.cds-navItem .cds-navItemText {
  flex-grow: 2;
}
.cds-navItem .cds-navItem--active {
  color: var(--cds-nav-active-action-color);
}
.cds-navItem .cds-navItem--disabled {
  color: var(--cds-nav-disabled-action-color);
}
.cds-navItem .cds-subNavWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.cds-navItem .cds-subNavContainer {
  padding-left: var(--cds-nav-padding-x);
  padding-bottom: 10px;
  padding-top: 10px;
  border-left: var(--cds-nav-border-width) solid var(--cds-nav-border-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cds-navItem .cds-subNavContainer .cds-navItem {
  font: var(--cds-nav-subnav-link-font);
  min-height: 20px;
}
.cds-navItem .cds-subNavContainer i {
  font-size: 16px;
  line-height: 16px;
}