.button-base {
  display: inline-block;
  border-style: solid;
  line-height: 1;
  cursor: pointer;
  appearance: none;
}

.button-base:focus {
  outline: none;
}

.button-base:not([disabled]):active {
  box-shadow: var(--button-shadow-active);
}

.button-base[disabled] {
  cursor: not-allowed;
}

.button-base.medium {
  font: var(--button-medium-font);
}

.button-base.large {
  font: var(--button-large-font);
}

.button-master {
  padding: var(--button-secondary-small-padding-y) var(--button-secondary-small-padding-x);
  border-width: var(--button-secondary-border-width);
  border-color: var(--button-secondary-default-border-color);
  border-radius: var(--button-secondary-border-radius);
  background: var(--button-secondary-default-background-color);
  color: var(--button-secondary-default-text-color);
  font: var(--button-small-font);
}

.button-master .icon {
  color: var(--button-secondary-default-icon-color);
}

.button-master.medium {
  padding: var(--button-secondary-medium-padding-y) var(--button-secondary-medium-padding-x);
}

.button-master.large {
  padding: var(--button-secondary-large-padding-y) var(--button-secondary-large-padding-x);
}

.button-master:hover {
  border-color: var(--button-secondary-hover-border-color);
  background: var(--button-secondary-hover-background-color);
  color: var(--button-secondary-hover-text-color);
}

.button-master:hover .icon {
  color: var(--button-secondary-hover-icon-color);
}

.button-master[disabled] {
  border-color: var(--button-secondary-disabled-border-color);
  background: var(--button-secondary-disabled-background-color);
  color: var(--button-secondary-disabled-text-color);
}

.button-master[disabled] .icon {
  color: var(--button-secondary-disabled-icon-color);
}

/* PRIMARY */
.button-master.primary {
  padding: var(--button-primary-small-padding-y) var(--button-primary-small-padding-x);
  border-width: var(--button-primary-border-width);
  border-color: var(--button-primary-solid-default-border-color);
  border-radius: var(--button-primary-border-radius);
  background: var(--button-primary-solid-default-background-color);
  color: var(--button-primary-solid-default-text-color);
}

.button-master.primary .icon {
  color: var(--button-primary-solid-default-icon-color);
}

.button-master.primary.medium {
  padding: var(--button-primary-medium-padding-y) var(--button-primary-medium-padding-x);
}

.button-master.primary.large {
  padding: var(--button-primary-large-padding-y) var(--button-primary-large-padding-x);
}

.button-master.primary:hover {
  border-color: var(--button-primary-solid-hover-border-color);
  background: var(--button-primary-solid-hover-background-color);
  color: var(--button-primary-solid-hover-text-color);
}

.button-master.primary:hover .icon {
  color: var(--button-primary-solid-hover-icon-color);
}

.button-master.primary[disabled] {
  border-color: var(--button-primary-solid-disabled-border-color);
  background: var(--button-primary-solid-disabled-background-color);
  color: var(--button-primary-solid-disabled-text-color);
}

.button-master.primary[disabled] .icon {
  color: var(--button-primary-solid-disabled-icon-color);
}

/* TERTIARY */
.button-master.tertiary {
  padding: var(--button-tertiary-small-padding-y) var(--button-tertiary-small-padding-x);
  border-width: var(--button-tertiary-border-width);
  border-color: var(--button-tertiary-default-border-color);
  border-bottom-width: 1px;
  border-radius: var(--button-tertiary-border-radius);
  background: var(--button-tertiary-default-background-color);
  color: var(--button-tertiary-default-text-color);
}

.button-master.tertiary:active {
  box-shadow: none;
}

.button-master.tertiary .icon {
  color: var(--button-tertiary-default-icon-color);
}

.button-master.tertiary.medium {
  padding: var(--button-tertiary-medium-padding-y) var(--button-tertiary-medium-padding-x);
}

.button-master.tertiary.large {
  padding: var(--button-tertiary-large-padding-y) var(--button-tertiary-large-padding-x);
}

.button-master.tertiary:hover {
  border-color: var(--button-tertiary-hover-border-color);
  background: var(--button-tertiary-hover-background-color);
  color: var(--button-tertiary-hover-text-color);
}

.button-master.tertiary:hover .icon {
  color: var(--button-tertiary-hover-icon-color);
}

.button-master.tertiary[disabled] {
  border-color: var(--button-tertiary-disabled-border-color);
  background: var(--button-tertiary-disabled-background-color);
  color: var(--button-tertiary-disabled-text-color);
}

.button-master.tertiary[disabled] .icon {
  color: var(--button-tertiary-disabled-icon-color);
}
