.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color-default);
    font-size: 2em;
}

.icon.primary {
    color: var(--icon-color-primary);
}

.icon.muted {
    color: var(--icon-color-muted);
}
