._cds-light-theme {
          --type-heading-h-1-desktop-regular: 49px/64px Gotham Book;
  --type-heading-h-1-desktop-bold: 49px/64px Gotham Bold;
  --type-heading-h-1-mobile-regular: 31px/40px Gotham Book;
  --type-heading-h-1-mobile-bold: 31px/40px Gotham Bold;
  --type-heading-h-2-desktop-regular: 39px/52px Gotham Book;
  --type-heading-h-2-desktop-bold: 39px/52px Gotham Bold;
  --type-heading-h-2-mobile-regular: 31px/40px Gotham Book;
  --type-heading-h-2-mobile-bold: 31px/40px Gotham Bold;
  --type-heading-h-3-desktop-regular: 31px/40px Gotham Book;
  --type-heading-h-3-desktop-bold: 31px/40px Gotham Bold;
  --type-heading-h-3-mobile-regular: 25px/32px Gotham Book;
  --type-heading-h-3-mobile-bold: 25px/32px Gotham Bold;
  --type-heading-h-4-desktop-regular: 25px/32px Gotham Book;
  --type-heading-h-4-desktop-bold: 25px/32px Gotham Bold;
  --type-heading-h-4-mobile-regular: 20px/28px Gotham Book;
  --type-heading-h-4-mobile-bold: 20px/28px Gotham Bold;
  --type-heading-h-5-desktop-regular: 20px/28px Gotham Book;
  --type-heading-h-5-desktop-bold: 20px/28px Gotham Bold;
  --type-heading-h-5-mobile-regular: 16px/20px Gotham Book;
  --type-heading-h-5-mobile-bold: 16px/20px Gotham Bold;
  --type-heading-h-6-desktop-regular: 16px/20px Gotham Book;
  --type-heading-h-6-desktop-bold: 16px/20px Gotham Bold;
  --type-heading-h-6-mobile-regular: 16px/20px Gotham Book;
  --type-heading-h-6-mobile-bold: 16px/20px Gotham Bold;
  --type-body-p-desktop-regular: 16px/20px Gotham Book;
  --type-body-p-desktop-bold: 16px/20px Gotham Bold;
  --type-body-p-mobile-regular: 16px/20px Gotham Book;
  --type-body-p-mobile-bold: 16px/20px Gotham Bold;
  --type-color: #000000;
  --type-color-white: #ffffff;
  --type-color-accent: #FFB500;
  --type-case-uppercase: uppercase;
  --tooltip-padding-x: 8px;
  --tooltip-padding-y: 4px;
  --tooltip-border-radius: 4px;
  --tooltip-border-width: 1px;
  --tooltip-font: 10px/13px Gotham Book;
  --tooltip-background-color: #000000;
  --tooltip-border-color: #000000;
  --tooltip-text-color: #ffffff;
  --toast-background-color: #ffffff;
  --toast-body-color: #2e2f2a;
  --toast-border-color: #e3e4e2;
  --toast-action-color: #005EB8;
  --toast-border-radius: 8px;
  --toast-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --table-background-color: #ffffff;
  --table-border-color: #e3e4e2;
  --table-no-background: #00000000;
  --table-underline-color: #c8c9c4;
  --table-header-color: #000000;
  --table-text-color: #000000;
  --table-action-color: #005EB8;
  --table-hover-background-color: #D2E9FF;
  --table-active-background-color: #e3e4e2;
  --table-active-action-color: #4b4c45;
  --table-disabled-background-color: #f6f6f5;
  --table-disabled-action-color: #acaea7;
  --table-border-radius: 0px;
  --table-border-width: 1px;
  --table-no-border: 0px;
  --table-header-font: 16px/20px Gotham Medium;
  --table-cell-font: 16px/20px Gotham Regular;
  --tab-background-color: #ffffff;
  --tab-border-color: #e3e4e2;
  --tab-no-background: #00000000;
  --tab-underline-color: #c8c9c4;
  --tab-action-color: #005EB8;
  --tab-hover-background-color: #D2E9FF;
  --tab-active-background-color: #e3e4e2;
  --tab-active-action-color: #4b4c45;
  --tab-disabled-background-color: #f6f6f5;
  --tab-disabled-action-color: #acaea7;
  --tab-border-radius: 4px;
  --tab-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --tab-no-shadow: 0px 0px 0px 0px #00000000;
  --tab-border-width: 1px;
  --tab-no-border: 0px;
  --tab-padding-left: 16px;
  --tab-padding-top: 12px;
  --tab-padding-bottom: 12px;
  --tab-padding-right: 16px;
  --tab-font: 16px/20px Gotham Medium;
  --margin-1: 8px;
  --margin-2: 12px;
  --margin-3: 16px;
  --margin-4: 24px;
  --margin-5: 32px;
  --padding-1: 8px;
  --padding-2: 12px;
  --padding-3: 16px;
  --padding-4: 24px;
  --padding-5: 32px;
  --pagination-background-color: #ffffff;
  --pagination-border-color: #e3e4e2;
  --pagination-action-color: #005EB8;
  --pagination-hover-background-color: #D2E9FF;
  --pagination-active-background-color: #e3e4e2;
  --pagination-active-action-color: #4b4c45;
  --pagination-disabled-background-color: #f6f6f5;
  --pagination-disabled-action-color: #acaea7;
  --pagination-border-radius: 8px;
  --pagination-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --pagination-md-padding-x: 16px;
  --pagination-md-padding-y: 12px;
  --pagination-md-font: 16px/20px Gotham Medium;
  --pagination-sm-font: 13px/16px Gotham Medium;
  --pagination-sm-padding-x: 12px;
  --pagination-sm-padding-y: 8px;
  --pagination-lg-font: 20px/28px Gotham Medium;
  --pagination-lg-padding-x: 16px;
  --pagination-lg-padding-y: 12px;
  --header-default-background-color: #ffffff;
  --header-default-action-color: #2e2f2a;
  --header-default-border-color: #e3e4e2;
  --header-default-logo-color: #005EB8;
  --header-shadow-default: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --header-border-width: 1px;
  --header-border-radius: 0px;
  --header-action-font: 16px/20px Gotham Medium;
  --header-primary-background-color: #005EB8;
  --header-primary-action-color: #ffffff;
  --header-primary-border-color: #005EB8;
  --header-primary-logo-color: #ffffff;
  --modal-border-radius: 8px;
  --modal-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --modal-background-color: #ffffff;
  --modal-header-color: #2e2f2a;
  --modal-body-color: #2e2f2a;
  --modal-border-color: #e3e4e2;
  --modal-header-font: 25px/32px Gotham Book;
  --modal-body-font: 16px/20px Gotham Book;
  --breakpoints-xs: 320px;
  --breakpoints-sm: 576px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 992px;
  --breakpoints-xl: 1200px;
  --breakpoints-xxl: 1400px;
  --containers-xs: 290px;
  --containers-sm: 540px;
  --containers-md: 720px;
  --containers-lg: 960px;
  --containers-xl: 1140px;
  --containers-xxl: 1320px;
  --form-input-color: #2e2f2a;
  --form-placeholder-color: #acaea7;
  --form-border-color: #e3e4e2;
  --form-background-color: #ffffff;
  --form-icon-color: #4b4c45;
  --form-hint-text-color: #4b4c45;
  --form-label-color: #2e2f2a;
  --form-select-option-default-background-color: #ffffff;
  --form-select-option-default-text-color: #2e2f2a;
  --form-select-option-hover-text-color: #005EB8;
  --form-select-option-hover-background-color: #D2E9FF;
  --form-select-option-border-radius: 8px;
  --form-select-option-text: 16px/20px Gotham Medium;
  --form-select-option-padding-x: 16px;
  --form-select-option-padding-y: 12px;
  --form-select-option-active-text-color: #2e2f2a;
  --form-select-option-active-background-color: #e3e4e2;
  --form-select-option-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --form-disabled-label-color: #686a60;
  --form-disabled-input-color: #686a60;
  --form-disabled-hint-color: #686a60;
  --form-disabled-icon-color: #acaea7;
  --form-disabled-background-color: #f6f6f5;
  --form-disabled-border-color: #e3e4e2;
  --form-error-hint-text: #B52C2C;
  --form-error-border-color: #B52C2C;
  --form-error-icon-color: #B52C2C;
  --form-success-icon-color: #069D45;
  --form-info-icon-color: #0086BF;
  --form-focus-border-color: #005EB8;
  --form-primary-default: #005EB8;
  --form-primary-hover: #007BF0;
  --form-input-border-radius: 4px;
  --form-input-label: 13px/16px Gotham Medium;
  --form-input-group-text: 16px/20px Gotham Medium;
  --form-input-default: [object Object];
  --form-input-small: [object Object];
  --form-input-medium-padding-x: 16px;
  --form-input-medium-padding-y: 12px;
  --form-input-large: [object Object];
  --form-border-radius-none: 0px;
  --form-hint-text: 10px/12px Gotham Book;
  --form-select-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  --form-check-radio-label: 16px/20px Gotham Book;
  --dropdown-background-color: #ffffff;
  --dropdown-border-color: #e3e4e2;
  --dropdown-no-background: #00000000;
  --dropdown-underline-color: #c8c9c4;
  --dropdown-action-color: #2e2f2a;
  --dropdown-text-color: #2e2f2a;
  --dropdown-icon-color: #4b4c45;
  --dropdown-hover-background-color: #D2E9FF;
  --dropdown-active-background-color: #e3e4e2;
  --dropdown-disabled-action-color: #acaea7;
  --dropdown-border-radius: 4px;
  --dropdown-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --dropdown-no-shadow: 0px 0px 0px 0px #00000000;
  --dropdown-border-width: 1px;
  --dropdown-no-border: 0px;
  --dropdown-padding-left: 16px;
  --dropdown-padding-right: 16px;
  --dropdown-font: 16px/20px Gotham Book;
  --card-background-color: #ffffff;
  --card-header-color: #005EB8;
  --card-subhead-color: #2e2f2a;
  --card-body-color: #2e2f2a;
  --card-border-color: #e3e4e2;
  --card-border-radius: 8px;
  --card-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --card-border-width: 1px;
  --card-header: 25px/32px Gotham Bold;
  --card-subhead: 20px/28px Gotham Bold;
  --card-body: 16px/20px Gotham Book;
  --button-primary-solid-default-background-color: #005EB8;
  --button-primary-solid-default-text-color: #ffffff;
  --button-primary-solid-default-icon-color: #ffffff;
  --button-primary-solid-default-border-color: #005EB8;
  --button-primary-solid-hover-background-color: #007BF0;
  --button-primary-solid-hover-text-color: #ffffff;
  --button-primary-solid-hover-icon-color: #ffffff;
  --button-primary-solid-hover-border-color: #007BF0;
  --button-primary-solid-disabled-background-color: #acaea7;
  --button-primary-solid-disabled-text-color: #f6f6f5;
  --button-primary-solid-disabled-icon-color: #f6f6f5;
  --button-primary-solid-disabled-border-color: #acaea7;
  --button-primary-border-radius: 8px;
  --button-primary-small-padding-x: 8px;
  --button-primary-small-padding-y: 8px;
  --button-primary-medium-padding-x: 16px;
  --button-primary-medium-padding-y: 12px;
  --button-primary-large-padding-x: 24px;
  --button-primary-large-padding-y: 16px;
  --button-primary-border-width: 1px;
  --button-primary-underline: 0px;
  --button-secondary-default-background-color: #00000000;
  --button-secondary-default-text-color: #005EB8;
  --button-secondary-default-border-color: #005EB8;
  --button-secondary-default-icon-color: #005EB8;
  --button-secondary-hover-background-color: #00000000;
  --button-secondary-hover-text-color: #007BF0;
  --button-secondary-hover-border-color: #007BF0;
  --button-secondary-hover-icon-color: #007BF0;
  --button-secondary-disabled-background-color: #00000000;
  --button-secondary-disabled-text-color: #acaea7;
  --button-secondary-disabled-border-color: #acaea7;
  --button-secondary-disabled-icon-color: #acaea7;
  --button-secondary-border-radius: 8px;
  --button-secondary-small-padding-x: 8px;
  --button-secondary-small-padding-y: 8px;
  --button-secondary-medium-padding-x: 16px;
  --button-secondary-medium-padding-y: 12px;
  --button-secondary-large-padding-x: 24px;
  --button-secondary-large-padding-y: 16px;
  --button-secondary-border-width: 1px;
  --button-secondary-underline: 0px;
  --button-tertiary-default-background-color: #00000000;
  --button-tertiary-default-text-color: #005EB8;
  --button-tertiary-default-border-color: #005EB8;
  --button-tertiary-default-icon-color: #005EB8;
  --button-tertiary-hover-background-color: #00000000;
  --button-tertiary-hover-text-color: #007BF0;
  --button-tertiary-hover-border-color: #007BF0;
  --button-tertiary-hover-icon-color: #007BF0;
  --button-tertiary-disabled-background-color: #00000000;
  --button-tertiary-disabled-text-color: #acaea7;
  --button-tertiary-disabled-border-color: #acaea7;
  --button-tertiary-disabled-icon-color: #acaea7;
  --button-tertiary-border-radius: 0px;
  --button-tertiary-small-padding-x: 0px;
  --button-tertiary-small-padding-y: 8px;
  --button-tertiary-medium-padding-x: 0px;
  --button-tertiary-medium-padding-y: 8px;
  --button-tertiary-large-padding-x: 0px;
  --button-tertiary-large-padding-y: 8px;
  --button-tertiary-border-width: 0px;
  --button-tertiary-underline: 1px;
  --button-small-font: 13px/16px Gotham Bold;
  --button-medium-font: 16px/20px Gotham Bold;
  --button-large-font: 20px/28px Gotham Bold;
  --button-shadow-active: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --breadcrumb-divider-color: #acaea7;
  --breadcrumb-action-color: #005EB8;
  --breadcrumb-active-action-color: #acaea7;
  --breadcrumb-md-font: 16px/20px Gotham Medium;
  --breadcrumb-sm-font: 13px/16px Gotham Medium;
  --badge-primary-background-color: #005EB8;
  --badge-primary-text-color: #ffffff;
  --badge-primary-icon-color: #ffffff;
  --badge-primary-border-color: #005EB8;
  --badge-padding-x: 4px;
  --badge-padding-y: 4px;
  --badge-border-radius: 4px;
  --badge-border-radius-pill: 512px;
  --badge-border-width: 1px;
  --badge-danger-background-color: #B52C2C;
  --badge-danger-text-color: #ffffff;
  --badge-danger-icon-color: #ffffff;
  --badge-danger-border-color: #B52C2C;
  --badge-warning-background-color: #FFB500;
  --badge-warning-text-color: #000000;
  --badge-warning-icon-color: #000000;
  --badge-warning-border-color: #FFB500;
  --badge-success-background-color: #069D45;
  --badge-success-text-color: #ffffff;
  --badge-success-icon-color: #ffffff;
  --badge-success-border-color: #069D45;
  --badge-info-background-color: #0086BF;
  --badge-info-text-color: #ffffff;
  --badge-info-icon-color: #ffffff;
  --badge-info-border-color: #0086BF;
  --badge-neutral-background-color: #e3e4e2;
  --badge-neutral-text-color: #2e2f2a;
  --badge-neutral-icon-color: #2e2f2a;
  --badge-neutral-border-color: #e3e4e2;
  --badge-font: 10px/13px Gotham Bold;
  --background-primary-default: #005EB8;
  --background-primary-subtle: #D2E9FF;
  --background-primary-amplified: #004180;
  --background-accent-default: #FFB500;
  --background-accent-subtle: #FFF1CF;
  --background-accent-amplified: #8F6500;
  --background-secondary-default: #0086BF;
  --background-secondary-subtle: #C9EFFF;
  --background-secondary-amplified: #004663;
  --background-neutral-subtle: #ffffff;
  --background-neutral-default: #ffffff;
  --background-neutral-amplified: #e3e4e2;
  --alert-primary-background-color: #D2E9FF;
  --alert-primary-body-color: #004180;
  --alert-primary-border-color: #005EB8;
  --alert-primary-header-color: #004180;
  --alert-primary-icon-color: #004180;
  --alert-danger-background-color: #EBADAD;
  --alert-danger-body-color: #5B1616;
  --alert-danger-border-color: #B52C2C;
  --alert-danger-header-color: #5B1616;
  --alert-danger-icon-color: #5B1616;
  --alert-success-background-color: #E6FEF0;
  --alert-success-body-color: #035827;
  --alert-success-border-color: #069D45;
  --alert-success-header-color: #035827;
  --alert-success-icon-color: #035827;
  --alert-warning-background-color: #FFF1CF;
  --alert-warning-body-color: #8F6500;
  --alert-warning-border-color: #FFB500;
  --alert-warning-header-color: #8F6500;
  --alert-warning-icon-color: #8F6500;
  --alert-border-radius: 8px;
  --alert-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --alert-neutral-background-color: #e3e4e2;
  --alert-neutral-body-color: #2e2f2a;
  --alert-neutral-border-color: #4b4c45;
  --alert-neutral-header-color: #2e2f2a;
  --alert-neutral-icon-color: #2e2f2a;
  --alert-header-font: 20px/28px Gotham Bold;
  --alert-body-font: 16px/20px Gotham Book;
  --alert-padding-x: 16px;
  --alert-padding-y: 16px;
  --alert-close-color: #2e2f2a;
  --accordion-background-color: #ffffff;
  --accordion-border-color: #e3e4e2;
  --accordion-underline-color: #c8c9c4;
  --accordion-action-color: #005EB8;
  --accordion-body-color: #2e2f2a;
  --accordion-hover-background-color: #D2E9FF;
  --accordion-active-background-color: #e3e4e2;
  --accordion-active-action-color: #4b4c45;
  --accordion-disabled-background-color: #f6f6f5;
  --accordion-disabled-action-color: #acaea7;
  --accordion-border-radius: 8px;
  --accordion-border-width: 1px;
  --accordion-no-border: 0px;
  --accordion-padding-x: 16px;
  --accordion-padding-y: 12px;
  --accordion-link-font: 16px/20px Gotham Medium;
  --accordion-body-font: 16px/20px Gotham Book;
      }