.alert-modal {
  background-color: red;
  border-radius: 12px;
  padding: 24px;
  overflow: auto;
}

.close {
  margin-top: 32px;
  text-align: right;
}

.close > button {
  background-color: #005eb8;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  padding: 10px 16px;
}
