[id*='layout-stack'] .gds-stack > * {
  padding: 1.5rem;

  background: #eee;
  font-weight: 700;
}

[id*='layout-stack'] .gds-stack .gds-stack > * {
  background: #005eb8;
  color: #fff;
  font-weight: 700;
}

[id*='stack--split'] .gds-stack,
[id*='stack--last'] .gds-stack {
  min-height: 30rem;
}
