.flags {
  display: grid;
  list-style: none !important;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  text-align: center;
}

.flags li {
  padding: 1em;
  /* cursor: pointer; */
}

.flags .code {
  padding: calc(1rem / 1.25 / 1.25 / 1.25);
  border-radius: 64px;
  background: #efefef;
  font-weight: 500;
  font-size: calc(1rem / 1.25 / 1.25);
  font-family: 'IBM Plex Mono';
}

/* .flags li .gds-flag {
  transition: transform 100ms ease-out;
  transform: scale(1);
}

.flags li:hover .gds-flag {
  transform: scale(1.2);
} */
