.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    max-width: var(--modal-default-max-width);
    width: 100%;
    border-radius: var(--modal-border-radius);
    background: var(--modal-background-color);
    box-shadow: var(--modal-shadow);
    transform: translate(-50%, -50%);
}

.modal-header {
    padding: var(--padding-3) var(--padding-5);
    border-bottom: 1px solid var(--modal-border-color);
    color: var(--modal-header-color);
    font: var(--modal-header-font);
}

.modal-body {
    color: var(--modal-body-color);
    font: var(--modal-body-font);
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: var(--padding-3) var(--padding-5);
    gap: var(--margin-3);
    border-top: 1px solid var(--modal-border-color);
}

.modal-button-close {
    position: absolute;
    top: calc(var(--padding-3) + 4px);
    right: var(--padding-5);
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    appearance: none;
    align-items: center;
    justify-content: center;
}

.modal.small {
    max-width: var(--modal-small-max-width);
}

.modal.wide {
    max-width: var(--modal-wide-max-width);
}
