.cds-button {
  &--primary,
  &--secondary,
  &--tertiary {
    display: inline-flex;
    align-items: center;
    text-align: left;
    line-height: 1;
    cursor: pointer;
    appearance: none;
    -webkit-background-clip: padding-box !important;
    -moz-background-clip: padding-box !important;
    background-clip: padding-box !important;
  }

  &--primary:not([disabled]):active,
  &--secondary:not([disabled]):active {
    box-shadow: var(--cds-button-shadow-active);
  }

  &--tertiary:not([disabled]):active {
    box-shadow: none;
  }

  &--reverse-text-icon {
    flex-direction: row-reverse;
  }

  &__icon {
    display: inline-flex;
    &--start {
      margin-right: var(--cds-button-gap);
    }
    &--end {
      margin-left: var(--cds-button-gap);
    }
  }

  &--primary {
    border-width: var(--cds-button-primary-border-width);
    border-style: solid;
    border-color: var(--cds-button-primary-default-border-color);
    border-radius: var(--cds-button-primary-border-radius);
    background: var(--cds-button-primary-default-background-color);
    color: var(--cds-button-primary-default-text-color);

    &.cds-button--small {
      padding: var(--cds-button-primary-small-padding-y)
        var(--cds-button-primary-small-padding-x);
    }

    &.cds-button--medium {
      padding: var(--cds-button-primary-medium-padding-y)
        var(--cds-button-primary-medium-padding-x);
    }

    &.cds-button--large {
      padding: var(--cds-button-primary-large-padding-y)
        var(--cds-button-primary-large-padding-x);
    }

    &:hover {
      border-color: var(--cds-button-primary-hover-border-color);
      background: var(--cds-button-primary-hover-background-color);
      color: var(--cds-button-primary-hover-text-color);
    }

    &:disabled {
      background: var(--cds-button-primary-disabled-background-color);
      color: var(--cds-button-primary-disabled-text-color);
      border-color: var(--cds-button-primary-disabled-border-color);
    }
  }

  &--secondary {
    display: inline-block;
    border-width: var(--cds-button-secondary-border-width);
    border-style: solid;
    border-color: var(--cds-button-secondary-default-border-color);
    border-radius: var(--cds-button-secondary-border-radius);
    background: var(--cds-button-secondary-default-background-color);
    color: var(--cds-button-secondary-default-text-color);
    line-height: 1;
    cursor: pointer;
    appearance: none;

    &.cds-button--small {
      padding: var(--cds-button-secondary-small-padding-y)
        var(--cds-button-secondary-small-padding-x);
    }

    &.cds-button--medium {
      padding: var(--cds-button-secondary-medium-padding-y)
        var(--cds-button-secondary-medium-padding-x);
    }

    &.cds-button--large {
      padding: var(--cds-button-secondary-large-padding-y)
        var(--cds-button-secondary-large-padding-x);
    }

    &:hover {
      border-color: var(--cds-button-secondary-hover-border-color);
      background: var(--cds-button-secondary--hover-background-color);
      color: var(--cds-button-secondary-hover-text-color);
    }

    &:disabled {
      background: var(--cds-button-secondary-disabled-background-color);
      color: var(--cds-button-secondary-disabled-text-color);
      border-color: var(--cds-button-secondary-disabled-border-color);
    }
  }

  &--tertiary {
    display: inline-block;
    border-width: var(--cds-button-tertiary-border-width);
    border-style: solid;
    border-bottom-width: var(--cds-button-tertiary-underline);
    border-color: var(--cds-button-tertiary-default-border-color);
    border-radius: var(--cds-button-tertiary-border-radius);
    background: none;
    color: var(--cds-button-tertiary-default-text-color);
    line-height: 1;
    cursor: pointer;
    appearance: none;

    &.cds-button--small {
      padding: var(--cds-button-tertiary-small-padding-y)
        var(--cds-button-tertiary-small-padding-x);
    }

    &.cds-button--medium {
      padding: var(--cds-button-tertiary-medium-padding-y)
        var(--cds-button-tertiary-medium-padding-x);
    }

    &.cds-button--large {
      padding: var(--cds-button-tertiary-large-padding-y)
        var(--cds-button-tertiary-large-padding-x);
    }

    &:hover {
      border-color: var(--cds-button-tertiary-hover-border-color);
      background: none;
      color: var(--cds-button-tertiary-hover-text-color);
    }

    &:disabled {
      background: var(--cds-button-tertiary-disabled-background-color);
      color: var(--cds-button-tertiary-disabled-text-color);
      border-color: var(--cds-button-tertiary-disabled-border-color);
    }
  }

  &--small {
    font: var(--cds-button-small-font);
  }

  &--medium {
    font: var(--cds-button-medium-font);
  }

  &--large {
    font: var(--cds-button-large-font);
  }

  &--cta {
    border-width: var(--cds-button-primary-border-width);
    border-style: solid;
    border-radius: var(--cds-button-primary-border-radius);
    border-color: var(--cds-button-cta-primary-default-border-color);
    background: var(--cds-button-cta-primary-default-background-color);
    color: var(--cds-button-cta-primary-default-text-color);
  }

  &--cta.cds-button--small {
    padding: var(--cds-button-primary-small-padding-y)
      var(--cds-button-primary-small-padding-x);
  }

  &--cta.cds-button--medium {
    padding: var(--cds-button-primary-medium-padding-y)
      var(--cds-button-primary-medium-padding-x);
  }

  &--cta.cds-button--large {
    padding: var(--cds-button-primary-large-padding-y)
      var(--cds-button-primary-large-padding-x);
  }

  &--cta:hover {
    border-color: var(--cds-button-cta-primary-hover-border-color);
    background: var(--cds-button-cta-primary-hover-background-color);
    color: var(--cds-button-cta-primary-hover-text-color);
  }

  &--cta:hover:disabled,
  &--tertiary:disabled {
    background: var(--cds-button-tertiary-disabled-background-color);
    color: var(--cds-button-tertiary-disabled-text-color);
    border-color: var(--cds-button-tertiary-disabled-border-color);
  }

  &--white {
    border-color: var(--cds-button-white-primary-default-border-color);
    background: var(--cds-button-white-primary-default-background-color);
    color: var(--cds-button-white-primary-default-text-color);

    &:hover {
      border-color: var(--cds-button-white-primary-hover-border-color);
      background: var(--cds-button-white-primary-hover-background-color);
      color: var(--cds-button-white-primary-hover-text-color);
    }

    &:disabled {
      background: var(--cds-button-white-primary-disabled-background-color);
      color: var(--cds-button-white-primary-disabled-text-color);
      border-color: var(--cds-button-white-primary-disabled-border-color);
    }

    &.cds-button--secondary {
      background: var(--cds-button-white-secondary-default-background-color);
      border-color: var(--cds-button-white-secondary-default-border-color);
      color: var(--cds-button-white-secondary-default-text-color);

      &:hover {
        background: var(--cds-button-white-secondary-hover-background-color);
        border-color: var(--cds-button-white-secondary-hover-border-color);
        color: var(--cds-button-white-secondary-hover-text-color);
      }

      &:disabled {
        background: var(--cds-button-white-secondary-disabled-background-color);
        color: var(--cds-button-white-secondary-disabled-text-color);
        border-color: var(--cds-button-white-secondary-disabled-border-color);
      }
    }
  }

  &--white {
    &.cds-button--tertiary {
      background: var(--cds-button-white-tertiary-default-background-color);
      border-color: var(--cds-button-white-tertiary-default-border-color);
      color: var(--cds-button-white-tertiary-default-text-color);

      &:hover {
        background: var(--cds-button-white-tertiary-hover-background-color);
        border-color: var(--cds-button-white-tertiary-hover-border-color);
        color: var(--cds-button-white-tertiary-hover-text-color);
      }

      &:disabled {
        background: var(--cds-button-white-tertiary-disabled-background-color);
        color: var(--cds-button-white-tertiary-disabled-text-color);
        border-color: var(--cds-button-white-tertiary-disabled-border-color);
      }
    }
  }

  &--inverted {
    border-color: var(--cds-button-inverse-primary-default-border-color);
    background: var(--cds-button-inverse-primary-default-background-color);
    color: var(--cds-button-inverse-primary-default-text-color);

    &:hover {
      border-color: var(--cds-button-inverse-primary-hover-border-color);
      background: var(--cds-button-inverse-primary-hover-background-color);
      color: var(--cds-button-inverse-primary-hover-text-color);
    }

    &:disabled {
      background: var(--cds-button-inverse-primary-disabled-background-color);
      color: var(--cds-button-inverse-primary-disabled-text-color);
      border-color: var(--cds-button-inverse-primary-disabled-border-color);
    }

    &.cds-button--secondary {
      background: var(--cds-button-inverse-secondary-default-background-color);
      border-color: var(--cds-button-secondary-tertiary-default-border-color);
      color: var(--cds-button-inverse-secondary-default-text-color);

      &:hover {
        background: var(--cds-button-inverse-secondary-hover-background-color);
        border-color: var(--cds-button-inverse-secondary-hover-border-color);
        color: var(--cds-button-inverse-secondary-hover-text-color);
      }

      &:disabled {
        background: var(
          --cds-button-inverse-secondary-disabled-background-color
        );
        color: var(--cds-button-inverse-secondary-disabled-text-color);
        border-color: var(--cds-button-inverse-secondary-disabled-border-color);
      }
    }

    &.cds-button--tertiary {
      background: var(--cds-button-inverse-tertiary-default-background-color);
      border-color: var(--cds-button-inverse-tertiary-default-border-color);
      color: var(--cds-button-inverse-tertiary-default-text-color);

      &:hover {
        background: var(--cds-button-inverse-tertiary-hover-background-color);
        border-color: var(--cds-button-inverse-tertiary-hover-border-color);
        color: var(--cds-button-inverse-tertiary-hover-text-color);
      }

      &:disabled {
        background: var(
          --cds-button-inverse-tertiary-disabled-background-color
        );
        color: var(--cds-button-inverse-tertiary-disabled-text-color);
        border-color: var(--cds-button-inverse-tertiary-disabled-border-color);
      }
    }
  }

  &--destructive {
    &,
    &:disabled {
      border-color: var(
        --cds-button-destructive-secondary-default-border-color
      );
      background: var(
        --cds-button-destructive-secondary-default-background-color
      );
      color: var(--cds-button-destructive-secondary-default-text-color);
    }

    &:hover,
    :disabled:hover {
      border-color: var(--cds-button-destructive-secondary-hover-border-color);
      background: var(
        --cds-button-destructive-secondary-hover-background-color
      );
      color: var(--cds-button-destructive-secondary-hover-text-color);
    }

    &.cds-button--secondary {
      &,
      &:disabled {
        background: var(
          --cds-button-destructive-secondary-default-background-color
        );
        border-color: var(
          --cds-button-destructive-secondary-default-border-color
        );
        color: var(--cds-button-destructive-secondary-default-text-color);
      }

      &:hover,
      &:disabled:hover {
        background: var(
          --cds-button-destructive-secondary-hover-background-color
        );
        border-color: var(--cds-button-destructive-secondary-hover-border-colo);
        color: var(--cds-button-destructive-secondary-hover-text-color);
      }
    }

    &.cds-button--tertiary {
      &,
      &:disabled {
        background: var(
          --cds-button-destructive-tertiary-default-background-color
        );
        border-color: var(
          --cds-button-destructive-tertiary-default-border-color
        );
        color: var(--cds-button-destructive-tertiary-default-text-color);
      }

      &:hover,
      &:disabled:hover {
        background: var(
          --cds-button-destructive-tertiary-hover-background-color
        );
        border-color: var(--cds-button-destructive-tertiary-hover-border-colo);
        color: var(--cds-button-destructive-tertiary-hover-text-color);
      }
    }
  }
}
