.confirm-modal {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  overflow: auto;
}

.actions {
  margin-top: 32px;
  text-align: right;
}

.actions > button {
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.actions > button.cancel {
  background-color: transparent;
  margin-right: 16px;
}

.confirm-modal[data-type='proceed'] .actions > button.submit {
  background-color: #005eb8;
  color: #fff;
}

.confirm-modal[data-type='warning'] .actions > button.submit {
  background-color: #e34949;
  color: #fff;
}
