.form-field-row {
  margin-bottom: var(--cds-margin-2);
}

.form-label {
  display: block;
  margin-bottom: var(--cds-form-input-gap);
  max-width: fit-content;
  color: var(--cds-form-label-color);
  font: var(--cds-form-input-text-label);
}

.form-label.disabled {
  color: var(--cds-form-disabled-label-color);
}

.form-input {
  display: block;
  flex: 1;
  padding: 0;
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  font: inherit;
  appearance: none;
}

.form-input::placeholder {
  color: var(--cds-form-placeholder-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
  padding: var(--cds-form-input-medium-padding-y)
    var(--cds-form-input-medium-padding-x);
  width: 100%;
  border-width: var(--cds-form-input-border-width);
  border-style: solid;
  border-color: var(--cds-form-border-color);
  border-radius: var(--cds-form-input-border-radius);
  background: var(--cds-form-background-color);
  color: var(--cds-form-input-color);
  font: var(--cds-form-input-text-medium);
  align-items: center;
  gap: var(--cds-form-input-text-gap);
}

.form-field:focus-visible,
.form-field:focus,
.form-field:focus-within,
.form-field:active {
  border-color: var(--cds-form-focus-border-color);
}

.form-field.small {
  padding: var(--cds-form-input-small-padding-y)
    var(--cds-form-input-small-padding-x);
  font: var(--cds-form-input-text-small);
}

.form-field.large {
  padding: var(--cds-form-input-large-padding-y)
    var(--cds-form-input-large-padding-x);
  font: var(--cds-form-input-text-large);
}

.form-field .form-icon {
  display: flex;
  background: inherit;
  color: var(--cds-form-icon-color);
  align-items: center;
  justify-content: center;
  align-self: center;
}

/* ERROR */
.form-field.error {
  border-color: var(--cds-form-error-border-color);
}

.form-field.error .form-icon:not(.select-icon) {
  color: var(--cds-form-error-icon-color);
}

/* SUCCESS */
.form-field.success .form-icon:not(.select-icon) {
  color: var(--cds-form-success-icon-color);
}

/* DISABLED */
.form-field.disabled {
  border-color: var(--cds-form-disabled-border-color);
  background: var(--cds-form-disabled-background-color);
  color: var(--cds-form-disabled-input-color);
}

.form-field.disabled .form-icon {
  color: var(--cds-form-disabled-icon-color);
}

/* HINT */
.form-hint {
  display: block;
  margin-top: var(--cds-form-input-gap);
  color: var(--cds-form-hint-text-color);
  font: var(--cds-form-hint-text);
}

.form-hint.disabled {
  color: var(--cds-form-disabled-hint-color);
}

.form-hint.error {
  color: var(--cds-form-error-hint-text);
}

.form-label-wrap {
  display: flex;
  margin-bottom: var(--cds-form-input-gap);
  line-height: 1.5;
  justify-content: space-between;
  align-items: baseline;
}

.form-label-wrap .form-label {
  margin: 0;
}
