@import 'common.module.css';

.pin-field {
  display: flex;
  gap: var(--cds-margin-3);
}

.form-input {
  composes: form-input from 'common.module.css';
}

.form-field {
  composes: form-field from 'common.module.css';
}

.error {
  composes: error from 'common.module.css';
}

.disabled {
  composes: disabled from 'common.module.css';
}

.pin-field .form-input {
  flex: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.pin-field .form-field {
  padding: var(--cds-form-input-small-padding-y);
  width: var(--cds-form-pin-size-default);
  height: var(--cds-form-pin-size-default);
  text-align: center;
}

.pin-field.small .form-field {
  width: var(--cds-form-pin-size-small);
  height: var(--cds-form-pin-size-small);
}

.pin-field.large .form-field {
  width: var(--cds-form-pin-size-large);
  height: var(--cds-form-pin-size-large);
}
