@import 'common.module.css';

.form-control {
  display: flex;
  align-items: center;
  gap: var(--cds-form-check-radio-gap);
}

.form-label {
  composes: form-label from 'common.module.css';
}

.form-control .form-label {
  margin: 0;
  font: var(--cds-form-check-radio-label);
}

.form-control input[type='radio'],
.form-control input[type='checkbox'] {
  margin: 0;
  width: var(--cds-form-check-radio-size-default);
  height: var(--cds-form-check-radio-size-default);
  outline: none;
  border: 1px solid var(--cds-form-border-color);
  background: var(--cds-form-background-color);
  font: inherit;
  appearance: none;
}

.form-control input[type='radio'] {
  border-radius: 50%;
  transition: 120ms border ease-in-out;
}

.form-control input[type='radio']:checked {
  border-width: var(--cds-form-check-radio-size-inside);
  border-color: var(--cds-form-check-radio-default);
}

.form-control input[type='radio']:checked:hover {
  border-color: var(--cds-form-check-radio-hover);
}

.form-control input[type='radio']:checked:disabled {
  border-color: var(--cds-form-disabled-border-color);
  background: var(--cds-form-disabled-input-color);
}

.form-control input[type='radio']:not(:checked).error,
.form-control input[type='checkbox']:not(:checked).error {
  border-color: var(--cds-form-error-border-color);
  background: var(--cds-form-background-color);
}

.form-control input[type='checkbox'] {
  border-radius: var(--cds-form-input-border-radius);
  transition: 120ms background-color ease-in-out;
}

.form-control input[type='checkbox']:checked {
  border-color: var(--cds-form-check-radio-default);
  background: var(--cds-form-check-radio-default);
  font-size: var(--cds-form-check-radio-size-default);
}

.form-control .form-control-inner {
  position: relative;
  display: inline-flex;
}

.form-control .form-control-icon {
  position: absolute;
  display: none;
  color: var(--cds-form-background-color);
  align-items: center;
  justify-content: center;
  inset: 0;
}

.form-control input[type='checkbox']:checked + .form-control-icon {
  display: flex;
}

.form-control input[type='checkbox']:checked:hover {
  border-color: var(--cds-form-check-radio-hover);
  background: var(--cds-form-check-radio-hover);
}

.form-control input[type='checkbox']:checked:disabled {
  border-color: var(--cds-form-disabled-border-color);
  background: var(--cds-form-disabled-border-color);
}

.form-control input[type='checkbox']:disabled::before {
  color: var(--cds-form-disabled-input-color);
}

.form-control input:focus-visible,
.form-control input:focus,
.form-control input:focus-within,
.form-control input:active {
  border-color: var(--cds-form-focus-border-color);
}
