/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* THIS IS GENERATED CODE. Any changes you make will be overwritten! */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.cds-table {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: var(--cds-table-border-radius);
  text-align: left;
}
.cds-table__container {
  overflow-x: auto;
  width: 100%;
}
.cds-table__head {
  display: table-header-group;
  font: var(--cds-table-header-font);
}
.cds-table__head .table__cell {
  color: var(--cds-table-header-color);
}
.cds-table__body {
  display: table-row-group;
  font: var(--cds-table-cell-font);
}
.cds-table__row {
  display: table-row;
  outline: 0;
  color: inherit;
  vertical-align: middle;
  font: inherit;
}
.cds-table__cell {
  display: table-cell;
  padding: var(--cds-padding-2) var(--cds-padding-3);
  border-bottom-width: var(--cds-table-border-width);
  border-bottom-style: solid;
  border-bottom-color: var(--cds-table-border-color);
  background: var(--cds-table-background-color);
  color: var(--cds-table-text-color);
  font: inherit;
}
.cds-table__cell:hover {
  background: var(--cds-table-hover-background-color);
}
.cds-table__cell:active, .cds-table__cell.active {
  background: var(--cds-table-active-background-color);
}
.cds-table__cell:active a, .cds-table__cell.active a {
  color: var(--cds-table-active-action-color);
}
.cds-table__cell a {
  color: var(--cds-table-action-color);
  text-decoration: none;
}
.cds-table.cds-table__sticky-header {
  border-collapse: separate;
}
.cds-table.cds-table__sticky-header .cds-table__head .cds-table__cell {
  position: sticky;
  top: 0;
  z-index: 2;
}

.cds-table--disabled .cds-table__cell,
.cds-table__cell:disabled,
.cds-table__cell.cds-table--disabled {
  background: var(--cds-table-disabled-background-color);
  color: var(--cds-table-disabled-text-color);
}

.cds-table--disabled .cds-table__head .cds-table__cell,
.cds-table__head .cds-table__cell:disabled,
.cds-table__head .cds-table__cell.cds-table--disabled {
  color: var(--cds-table-disabled-header-color);
}

.cds-table--disabled .cds-table__cell a,
.cds-table__cell:disabled a,
.cds-table__cell.cds-table--disabled a {
  color: var(--cds-table-disabled-action-color);
}
