.table-container {
  overflow-x: auto;
  width: 100%;
}

.table {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: var(--cds-table-border-radius);
  text-align: left;
}

.table-head {
  display: table-header-group;
  font: var(--cds-table-header-font);
}

.table-body {
  display: table-row-group;
  font: var(--cds-table-cell-font);
}

.table-row {
  display: table-row;
  outline: 0;
  color: inherit;
  vertical-align: middle;
  font: inherit;
}

.table-cell {
  display: table-cell;
  padding: var(--cds-padding-2) var(--cds-padding-3);
  border-bottom-width: var(--cds-table-border-width);
  border-bottom-style: solid;
  border-bottom-color: var(--cds-table-border-color);
  background: var(--cds-table-background-color);
  color: var(--cds-table-text-color);
  font: inherit;
}

.table-cell:hover {
  background: var(--cds-table-hover-background-color);
}

.table-head .table-cell {
  color: var(--cds-table-header-color);
}

.table-cell a {
  color: var(--cds-table-action-color);
  text-decoration: none;
}

.table-cell:active,
.table-cell.active {
  background: var(--cds-table-active-background-color);
}

.table-cell:active a,
.table-cell.active a {
  color: var(--cds-table-active-action-color);
}

/* DISABLED */
.disabled .table-cell,
.table-cell:disabled,
.table-cell.disabled {
  background: var(--cds-table-disabled-background-color);
  color: var(--cds-table-disabled-text-color);
}

.disabled .table-head .table-cell,
.table-head .table-cell:disabled,
.table-head .table-cell.disabled {
  color: var(--cds-table-disabled-header-color);
}

.disabled .table-cell a,
.table-cell:disabled a,
.table-cell.disabled a {
  color: var(--cds-table-disabled-action-color);
}

/* STICKY HEADER */
.table.sticky-header {
  border-collapse: separate;
}

.sticky-header .table-head .table-cell {
  position: sticky;
  top: 0;
  z-index: 2;
}
