:root {
          --cds-type-heading-h1-desktop-regular: 49px/52px Gotham Book;
  --cds-type-heading-h1-desktop-bold: 49px/52px Gotham Bold;
  --cds-type-heading-h1-mobile-regular: 31px/32px Gotham Book;
  --cds-type-heading-h1-mobile-bold: 31px/32px Gotham Bold;
  --cds-type-heading-h2-desktop-regular: 39px/40px Gotham Book;
  --cds-type-heading-h2-desktop-bold: 39px/40px Gotham Bold;
  --cds-type-heading-h2-mobile-regular: 31px/32px Gotham Book;
  --cds-type-heading-h2-mobile-bold: 31px/32px Gotham Bold;
  --cds-type-heading-h3-desktop-regular: 31px/32px Gotham Book;
  --cds-type-heading-h3-desktop-bold: 31px/32px Gotham Bold;
  --cds-type-heading-h3-mobile-regular: 25px/28px Gotham Book;
  --cds-type-heading-h3-mobile-bold: 25px/28px Gotham Bold;
  --cds-type-heading-h4-desktop-regular: 25px/28px Gotham Book;
  --cds-type-heading-h4-desktop-bold: 25px/28px Gotham Bold;
  --cds-type-heading-h4-mobile-regular: 20px/20px Gotham Book;
  --cds-type-heading-h4-mobile-bold: 20px/20px Gotham Bold;
  --cds-type-heading-h5-desktop-regular: 20px/20px Gotham Book;
  --cds-type-heading-h5-desktop-bold: 20px/20px Gotham Bold;
  --cds-type-heading-h5-mobile-regular: 16px/20px Gotham Book;
  --cds-type-heading-h5-mobile-bold: 16px/20px Gotham Bold;
  --cds-type-heading-h6-desktop-regular: 16px/20px Gotham Book;
  --cds-type-heading-h6-desktop-bold: 16px/20px Gotham Bold;
  --cds-type-heading-h6-mobile-regular: 16px/20px Gotham Book;
  --cds-type-heading-h6-mobile-bold: 16px/20px Gotham Bold;
  --cds-type-body-p-desktop-regular: 16px/20px Gotham Book;
  --cds-type-body-p-desktop-bold: 16px/20px Gotham Bold;
  --cds-type-body-p-mobile-regular: 16px/20px Gotham Book;
  --cds-type-body-p-mobile-bold: 16px/20px Gotham Bold;
  --cds-type-body-p-small-desktop-regular: 13px/16px Gotham Book;
  --cds-type-body-p-small-desktop-bold: 13px/16px Gotham Bold;
  --cds-type-body-p-small-mobile-regular: 13px/16px Gotham Book;
  --cds-type-body-p-small-mobile-bold: 13px/16px Gotham Bold;
  --cds-type-color: #2e2f2a;
  --cds-type-color-white: #FFFFFF;
  --cds-type-color-accent: #FFB500;
  --cds-type-color-primary: #005EB8;
  --cds-type-case-uppercase: uppercase;
  --cds-tooltip-padding-x: 8px;
  --cds-tooltip-padding-y: 4px;
  --cds-tooltip-border-radius: 4px;
  --cds-tooltip-border-width: 1px;
  --cds-tooltip-font: 10px/13px Gotham Book;
  --cds-tooltip-background-color: #000000;
  --cds-tooltip-border-color: #000000;
  --cds-tooltip-text-color: #FFFFFF;
  --cds-toast-background-color: #FFFFFF;
  --cds-toast-body-color: #2e2f2a;
  --cds-toast-border-color: #e3e4e2;
  --cds-toast-action-color: #005EB8;
  --cds-toast-border-radius: 8px;
  --cds-toast-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --cds-toast-button-font: 16px/20px Gotham Bold;
  --cds-table-background-color: #FFFFFF;
  --cds-table-border-color: #e3e4e2;
  --cds-table-no-background: #00000000;
  --cds-table-header-color: #000000;
  --cds-table-text-color: #000000;
  --cds-table-action-color: #005EB8;
  --cds-table-hover-background-color: #D2E9FF;
  --cds-table-active-background-color: #e3e4e2;
  --cds-table-active-action-color: #4b4c45;
  --cds-table-disabled-background-color: #f6f6f5;
  --cds-table-disabled-action-color: #acaea7;
  --cds-table-disabled-header-color: #686a60;
  --cds-table-disabled-text-color: #686a60;
  --cds-table-border-radius: 0px;
  --cds-table-border-width: 1px;
  --cds-table-no-border: 0px;
  --cds-table-header-font: 16px/20px Gotham Medium;
  --cds-table-cell-font: 16px/20px Gotham Book;
  --cds-tab-background-color: #FFFFFF;
  --cds-tab-border-color: #e3e4e2;
  --cds-tab-no-background: #00000000;
  --cds-tab-underline-color: #c8c9c4;
  --cds-tab-action-color: #005EB8;
  --cds-tab-hover-background-color: #D2E9FF;
  --cds-tab-active-background-color: #e3e4e2;
  --cds-tab-active-action-color: #4b4c45;
  --cds-tab-disabled-background-color: #f6f6f5;
  --cds-tab-disabled-action-color: #acaea7;
  --cds-tab-border-radius: 4px;
  --cds-tab-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-tab-no-shadow: 0px 0px 0px 0px #00000000;
  --cds-tab-border-width: 1px;
  --cds-tab-no-border: 0px;
  --cds-tab-padding-x: 16px;
  --cds-tab-padding-y: 12px;
  --cds-tab-font: 16px/20px Gotham Medium;
  --cds-margin-1: 8px;
  --cds-margin-2: 12px;
  --cds-margin-3: 16px;
  --cds-margin-4: 24px;
  --cds-margin-5: 32px;
  --cds-padding-1: 8px;
  --cds-padding-2: 12px;
  --cds-padding-3: 16px;
  --cds-padding-4: 24px;
  --cds-padding-5: 32px;
  --cds-progress-label: 13px/16px Gotham Book;
  --cds-progress-progress-color: #005EB8;
  --cds-progress-background-color: #e3e4e2;
  --cds-progress-label-color: #2e2f2a;
  --cds-progress-default-height: 8px;
  --cds-progress-small-height: 4px;
  --cds-progress-large-height: 12px;
  --cds-pagination-background-color: #FFFFFF;
  --cds-pagination-border-color: #e3e4e2;
  --cds-pagination-action-color: #005EB8;
  --cds-pagination-hover-background-color: #D2E9FF;
  --cds-pagination-active-background-color: #e3e4e2;
  --cds-pagination-active-action-color: #4b4c45;
  --cds-pagination-disabled-background-color: #f6f6f5;
  --cds-pagination-disabled-action-color: #acaea7;
  --cds-pagination-border-radius: 8px;
  --cds-pagination-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-pagination-md-padding-x: 16px;
  --cds-pagination-md-padding-y: 12px;
  --cds-pagination-md-font: 16px/20px Gotham Medium;
  --cds-pagination-sm-font: 13px/16px Gotham Medium;
  --cds-pagination-sm-padding-x: 12px;
  --cds-pagination-sm-padding-y: 8px;
  --cds-pagination-lg-font: 20px/20px Gotham Medium;
  --cds-pagination-lg-padding-x: 16px;
  --cds-pagination-lg-padding-y: 12px;
  --cds-nav-background-color: #FFFFFF;
  --cds-nav-border-color: #e3e4e2;
  --cds-nav-underline-color: #c8c9c4;
  --cds-nav-action-color: #005EB8;
  --cds-nav-hover-background-color: #D2E9FF;
  --cds-nav-active-background-color: #e3e4e2;
  --cds-nav-active-action-color: #4b4c45;
  --cds-nav-disabled-background-color: #f6f6f5;
  --cds-nav-disabled-action-color: #acaea7;
  --cds-nav-border-width: 1px;
  --cds-nav-no-border: 0px;
  --cds-nav-padding-x: 16px;
  --cds-nav-padding-y: 12px;
  --cds-nav-link-font: 16px/20px Gotham Medium;
  --cds-nav-subnav-link-font: 13px/16px Gotham Medium;
  --cds-modal-border-radius: 8px;
  --cds-modal-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --cds-modal-background-color: #FFFFFF;
  --cds-modal-header-color: #2e2f2a;
  --cds-modal-body-color: #2e2f2a;
  --cds-modal-border-color: #e3e4e2;
  --cds-modal-header-font: 25px/28px Gotham Book;
  --cds-modal-body-font: 16px/20px Gotham Book;
  --cds-modal-default-max-width: 660px;
  --cds-modal-small-max-width: 320px;
  --cds-modal-wide-max-width: 990px;
  --cds-list-group-background-color: #FFFFFF;
  --cds-list-group-border-color: #e3e4e2;
  --cds-list-group-underline-color: #c8c9c4;
  --cds-list-group-icon-color: #005EB8;
  --cds-list-group-body-color: #2e2f2a;
  --cds-list-group-heading-color: #2e2f2a;
  --cds-list-group-hover-background-color: #D2E9FF;
  --cds-list-group-active-background-color: #e3e4e2;
  --cds-list-group-active-icon-color: #4b4c45;
  --cds-list-group-active-heading-color: #4b4c45;
  --cds-list-group-active-body-color: #4b4c45;
  --cds-list-group-disabled-background-color: #f6f6f5;
  --cds-list-group-disabled-heading-color: #acaea7;
  --cds-list-group-disabled-body-color: #acaea7;
  --cds-list-group-disabled-icon-color: #acaea7;
  --cds-list-group-border-radius: 8px;
  --cds-list-group-border-width: 1px;
  --cds-list-group-no-border: 0px;
  --cds-list-group-padding-x: 16px;
  --cds-list-group-padding-y: 12px;
  --cds-list-group-heading-font: 16px/20px Gotham Bold;
  --cds-list-group-action-font: 16px/20px Gotham Book;
  --cds-list-group-body-font: 16px/20px Gotham Book;
  --cds-list-group-image-border-radius-default: 0px;
  --cds-list-group-image-border-radius-rounded: 8px;
  --cds-list-group-image-border-radius-circle: 512px;
  --cds-link-color-default: #005EB8;
  --cds-link-color-white: #FFFFFF;
  --cds-link-text-decoration-underline: underline;
  --cds-link-font-default: 16px/20px Gotham Book;
  --cds-link-font-bold: 16px/20px Gotham Bold;
  --cds-image-background-color: #e3e4e2;
  --cds-image-icon-color: #acaea7;
  --cds-image-icon-color-inverse: #FFFFFF;
  --cds-icon-color-default: #000000;
  --cds-icon-color-muted: #4b4c45;
  --cds-icon-color-primary: #005EB8;
  --cds-header-default-background-color: #FFFFFF;
  --cds-header-default-action-color: #2e2f2a;
  --cds-header-default-border-color: #e3e4e2;
  --cds-header-default-logo-color: #005EB8;
  --cds-header-shadow-default: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-header-border-width: 1px;
  --cds-header-border-radius: 0px;
  --cds-header-action-font: 16px/20px Gotham Medium;
  --cds-header-primary-background-color: #005EB8;
  --cds-header-primary-action-color: #FFFFFF;
  --cds-header-primary-border-color: #005EB8;
  --cds-header-primary-logo-color: #FFFFFF;
  --cds-breakpoints-xs: 320px;
  --cds-breakpoints-sm: 576px;
  --cds-breakpoints-md: 768px;
  --cds-breakpoints-lg: 992px;
  --cds-breakpoints-xl: 1200px;
  --cds-breakpoints-xxl: 1400px;
  --cds-containers-xs: 290px;
  --cds-containers-sm: 540px;
  --cds-containers-md: 720px;
  --cds-containers-lg: 960px;
  --cds-containers-xl: 1140px;
  --cds-containers-xxl: 1140px;
  --cds-containers-fluid: 100%px;
  --cds-form-input-color: #2e2f2a;
  --cds-form-placeholder-color: #acaea7;
  --cds-form-border-color: #e3e4e2;
  --cds-form-background-color: #FFFFFF;
  --cds-form-icon-color: #4b4c45;
  --cds-form-hint-text-color: #4b4c45;
  --cds-form-label-color: #2e2f2a;
  --cds-form-select-option-default-background-color: #FFFFFF;
  --cds-form-select-option-default-text-color: #2e2f2a;
  --cds-form-select-option-hover-text-color: #005EB8;
  --cds-form-select-option-hover-background-color: #D2E9FF;
  --cds-form-select-option-border-radius: 8px;
  --cds-form-select-option-text: 16px/20px Gotham Medium;
  --cds-form-select-option-padding-x: 16px;
  --cds-form-select-option-padding-y: 12px;
  --cds-form-select-option-active-text-color: #2e2f2a;
  --cds-form-select-option-active-background-color: #e3e4e2;
  --cds-form-select-option-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-form-disabled-label-color: #686a60;
  --cds-form-disabled-input-color: #686a60;
  --cds-form-disabled-hint-color: #686a60;
  --cds-form-disabled-icon-color: #acaea7;
  --cds-form-disabled-background-color: #f6f6f5;
  --cds-form-disabled-border-color: #e3e4e2;
  --cds-form-error-hint-text: #B52C2C;
  --cds-form-error-border-color: #B52C2C;
  --cds-form-error-icon-color: #B52C2C;
  --cds-form-success-icon-color: #069D45;
  --cds-form-focus-border-color: #005EB8;
  --cds-form-check-radio-default: #005EB8;
  --cds-form-check-radio-hover: #0075E4;
  --cds-form-check-radio-size-default: 22px;
  --cds-form-check-radio-size-inside: 8px;
  --cds-form-check-radio-gap: 8px;
  --cds-form-pin-size-default: 44px;
  --cds-form-pin-size-small: 32px;
  --cds-form-pin-size-large: 52px;
  --cds-form-input-border-radius: 4px;
  --cds-form-input-border-width: 1px;
  --cds-form-input-text-small: 13px/16px Gotham Book;
  --cds-form-input-text-medium: 16px/20px Gotham Book;
  --cds-form-input-text-large: 20px/20px Gotham Book;
  --cds-form-input-text-label: 13px/16px Gotham Medium;
  --cds-form-input-text-gap: 10px;
  --cds-form-input-small-padding-x: 8px;
  --cds-form-input-small-padding-y: 8px;
  --cds-form-input-medium-padding-x: 16px;
  --cds-form-input-medium-padding-y: 12px;
  --cds-form-input-large-padding-x: 24px;
  --cds-form-input-large-padding-y: 16px;
  --cds-form-input-gap: 5px;
  --cds-form-hint-text: 10px/12px Gotham Book;
  --cds-form-border-radius-none: 0px;
  --cds-form-select-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  --cds-form-check-radio-label: 16px/20px Gotham Book;
  --cds-form-input-group-text-small: 13px/16px Gotham Medium;
  --cds-form-input-group-text-medium: 16px/20px Gotham Medium;
  --cds-form-input-group-text-large: 20px/20px Gotham Medium;
  --cds-form-radio-button-default-label-color: #005EB8;
  --cds-form-radio-button-default-border-color: #005EB8;
  --cds-form-radio-button-default-icon-color: #005EB8;
  --cds-form-radio-button-default-background-color: #00000000;
  --cds-form-radio-button-active-label-color: #4b4c45;
  --cds-form-radio-button-active-border-color: #e3e4e2;
  --cds-form-radio-button-active-icon-color: #4b4c45;
  --cds-form-radio-button-active-background-color: #e3e4e2;
  --cds-form-radio-button-hover-label-color: #005EB8;
  --cds-form-radio-button-hover-border-color: #005EB8;
  --cds-form-radio-button-hover-icon-color: #005EB8;
  --cds-form-radio-button-hover-background-color: #D2E9FF;
  --cds-form-radio-button-text: 16px/20px Gotham Medium;
  --cds-radio-button-border-radius: 8px;
  --cds-dropdown-background-color: #FFFFFF;
  --cds-dropdown-border-color: #e3e4e2;
  --cds-dropdown-no-background: #00000000;
  --cds-dropdown-underline-color: #c8c9c4;
  --cds-dropdown-action-color: #2e2f2a;
  --cds-dropdown-text-color: #2e2f2a;
  --cds-dropdown-hover-background-color: #D2E9FF;
  --cds-dropdown-hover-action-color: #005EB8;
  --cds-dropdown-active-background-color: #e3e4e2;
  --cds-dropdown-disabled-action-color: #acaea7;
  --cds-dropdown-border-radius: 4px;
  --cds-dropdown-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-dropdown-no-shadow: 0px 0px 0px 0px #00000000;
  --cds-dropdown-border-width: 1px;
  --cds-dropdown-no-border: 0px;
  --cds-dropdown-padding-y: 12px;
  --cds-dropdown-padding-x: 16px;
  --cds-dropdown-font: 16px/20px Gotham Book;
  --cds-dropdown-divider-padding-y: 6px;
  --cds-card-background-color: #FFFFFF;
  --cds-card-header-color: #2e2f2a;
  --cds-card-header-color-link: #005EB8;
  --cds-card-subhead-color: #2e2f2a;
  --cds-card-body-color: #2e2f2a;
  --cds-card-border-color: #e3e4e2;
  --cds-card-border-radius: 8px;
  --cds-card-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-card-border-width: 1px;
  --cds-card-header-default: 25px/28px Gotham Bold;
  --cds-card-header-small: 20px/20px Gotham Bold;
  --cds-card-subhead: 20px/20px Gotham Bold;
  --cds-card-body-default: 16px/20px Gotham Book;
  --cds-card-body-small: 13px/16px Gotham Book;
  --cds-card-padding-x: 16px;
  --cds-card-padding-y: 16px;
  --cds-button-primary-default-background-color: #005EB8;
  --cds-button-primary-default-text-color: #FFFFFF;
  --cds-button-primary-default-icon-color: #FFFFFF;
  --cds-button-primary-default-border-color: #005EB8;
  --cds-button-primary-hover-background-color: #0075E4;
  --cds-button-primary-hover-text-color: #FFFFFF;
  --cds-button-primary-hover-icon-color: #FFFFFF;
  --cds-button-primary-hover-border-color: #0075E4;
  --cds-button-primary-disabled-background-color: #acaea7;
  --cds-button-primary-disabled-text-color: #f6f6f5;
  --cds-button-primary-disabled-icon-color: #f6f6f5;
  --cds-button-primary-disabled-border-color: #acaea7;
  --cds-button-primary-border-radius: 8px;
  --cds-button-primary-small-padding-x: 8px;
  --cds-button-primary-small-padding-y: 8px;
  --cds-button-primary-medium-padding-x: 16px;
  --cds-button-primary-medium-padding-y: 12px;
  --cds-button-primary-large-padding-x: 24px;
  --cds-button-primary-large-padding-y: 16px;
  --cds-button-primary-border-width: 1px;
  --cds-button-primary-underline: 0px;
  --cds-button-secondary-default-background-color: #00000000;
  --cds-button-secondary-default-text-color: #005EB8;
  --cds-button-secondary-default-icon-color: #005EB8;
  --cds-button-secondary-default-border-color: #005EB8;
  --cds-button-secondary-hover-background-color: #00000000;
  --cds-button-secondary-hover-text-color: #0075E4;
  --cds-button-secondary-hover-icon-color: #0075E4;
  --cds-button-secondary-hover-border-color: #0075E4;
  --cds-button-secondary-disabled-background-color: #00000000;
  --cds-button-secondary-disabled-text-color: #acaea7;
  --cds-button-secondary-disabled-icon-color: #acaea7;
  --cds-button-secondary-disabled-border-color: #acaea7;
  --cds-button-secondary-border-radius: 8px;
  --cds-button-secondary-small-padding-x: 8px;
  --cds-button-secondary-small-padding-y: 8px;
  --cds-button-secondary-medium-padding-x: 16px;
  --cds-button-secondary-medium-padding-y: 12px;
  --cds-button-secondary-large-padding-x: 24px;
  --cds-button-secondary-large-padding-y: 16px;
  --cds-button-secondary-border-width: 1px;
  --cds-button-secondary-underline: 0px;
  --cds-button-tertiary-default-background-color: #00000000;
  --cds-button-tertiary-default-text-color: #005EB8;
  --cds-button-tertiary-default-icon-color: #005EB8;
  --cds-button-tertiary-default-border-color: #005EB8;
  --cds-button-tertiary-hover-background-color: #00000000;
  --cds-button-tertiary-hover-text-color: #0075E4;
  --cds-button-tertiary-hover-icon-color: #0075E4;
  --cds-button-tertiary-hover-border-color: #0075E4;
  --cds-button-tertiary-disabled-background-color: #00000000;
  --cds-button-tertiary-disabled-text-color: #acaea7;
  --cds-button-tertiary-disabled-icon-color: #acaea7;
  --cds-button-tertiary-disabled-border-color: #acaea7;
  --cds-button-tertiary-border-radius: 0px;
  --cds-button-tertiary-small-padding-x: 0px;
  --cds-button-tertiary-small-padding-y: 8px;
  --cds-button-tertiary-medium-padding-x: 0px;
  --cds-button-tertiary-medium-padding-y: 8px;
  --cds-button-tertiary-large-padding-x: 0px;
  --cds-button-tertiary-large-padding-y: 8px;
  --cds-button-tertiary-border-width: 0px;
  --cds-button-tertiary-underline: 1px;
  --cds-button-small-font: 13px/16px Gotham Bold;
  --cds-button-medium-font: 16px/20px Gotham Bold;
  --cds-button-large-font: 20px/20px Gotham Bold;
  --cds-button-shadow-active: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --cds-button-cta-primary-default-background-color: #f7d247;
  --cds-button-cta-primary-default-text-color: #000000;
  --cds-button-cta-primary-default-icon-color: #000000;
  --cds-button-cta-primary-default-border-color: #f7d247;
  --cds-button-cta-primary-hover-background-color: #FFDD8A;
  --cds-button-cta-primary-hover-text-color: #000000;
  --cds-button-cta-primary-hover-icon-color: #000000;
  --cds-button-cta-primary-hover-border-color: #FFDD8A;
  --cds-button-cta-primary-disabled-background-color: #acaea7;
  --cds-button-cta-primary-disabled-text-color: #f6f6f5;
  --cds-button-cta-primary-disabled-icon-color: #f6f6f5;
  --cds-button-cta-primary-disabled-border-color: #acaea7;
  --cds-button-white-primary-default-background-color: #FFFFFF;
  --cds-button-white-primary-default-text-color: #000000;
  --cds-button-white-primary-default-icon-color: #000000;
  --cds-button-white-primary-default-border-color: #FFFFFF;
  --cds-button-white-primary-hover-background-color: #f6f6f5;
  --cds-button-white-primary-hover-text-color: #000000;
  --cds-button-white-primary-hover-icon-color: #000000;
  --cds-button-white-primary-hover-border-color: #f6f6f5;
  --cds-button-white-primary-disabled-background-color: #ffffff80;
  --cds-button-white-primary-disabled-text-color: #00000080;
  --cds-button-white-primary-disabled-icon-color: #00000080;
  --cds-button-white-primary-disabled-border-color: #ffffff80;
  --cds-button-white-secondary-default-background-color: #00000000;
  --cds-button-white-secondary-default-text-color: #FFFFFF;
  --cds-button-white-secondary-default-icon-color: #FFFFFF;
  --cds-button-white-secondary-default-border-color: #FFFFFF;
  --cds-button-white-secondary-hover-background-color: #00000000;
  --cds-button-white-secondary-hover-text-color: #f6f6f5;
  --cds-button-white-secondary-hover-icon-color: #f6f6f5;
  --cds-button-white-secondary-hover-border-color: #f6f6f5;
  --cds-button-white-secondary-disabled-background-color: #00000000;
  --cds-button-white-secondary-disabled-text-color: #ffffff80;
  --cds-button-white-secondary-disabled-icon-color: #ffffff80;
  --cds-button-white-secondary-disabled-border-color: #ffffff80;
  --cds-button-white-tertiary-default-background-color: #00000000;
  --cds-button-white-tertiary-default-text-color: #FFFFFF;
  --cds-button-white-tertiary-default-icon-color: #FFFFFF;
  --cds-button-white-tertiary-default-border-color: #FFFFFF;
  --cds-button-white-tertiary-hover-background-color: #00000000;
  --cds-button-white-tertiary-hover-text-color: #f6f6f5;
  --cds-button-white-tertiary-hover-icon-color: #f6f6f5;
  --cds-button-white-tertiary-hover-border-color: #f6f6f5;
  --cds-button-white-tertiary-disabled-background-color: #00000000;
  --cds-button-white-tertiary-disabled-text-color: #ffffff80;
  --cds-button-white-tertiary-disabled-icon-color: #ffffff80;
  --cds-button-white-tertiary-disabled-border-color: #ffffff80;
  --cds-button-inverse-primary-default-background-color: #000000;
  --cds-button-inverse-primary-default-text-color: #FFFFFF;
  --cds-button-inverse-primary-default-icon-color: #FFFFFF;
  --cds-button-inverse-primary-default-border-color: #000000;
  --cds-button-inverse-primary-hover-background-color: #1c1c1c;
  --cds-button-inverse-primary-hover-text-color: #FFFFFF;
  --cds-button-inverse-primary-hover-icon-color: #FFFFFF;
  --cds-button-inverse-primary-hover-border-color: #1c1c1c;
  --cds-button-inverse-primary-disabled-background-color: #00000080;
  --cds-button-inverse-primary-disabled-text-color: #ffffff80;
  --cds-button-inverse-primary-disabled-icon-color: #ffffff80;
  --cds-button-inverse-primary-disabled-border-color: #00000080;
  --cds-button-inverse-secondary-default-background-color: #00000000;
  --cds-button-inverse-secondary-default-text-color: #000000;
  --cds-button-inverse-secondary-default-icon-color: #000000;
  --cds-button-inverse-secondary-default-border-color: #000000;
  --cds-button-inverse-secondary-hover-background-color: #00000000;
  --cds-button-inverse-secondary-hover-text-color: #1c1c1c;
  --cds-button-inverse-secondary-hover-icon-color: #1c1c1c;
  --cds-button-inverse-secondary-hover-border-color: #1c1c1c;
  --cds-button-inverse-secondary-disabled-background-color: #00000000;
  --cds-button-inverse-secondary-disabled-text-color: #00000080;
  --cds-button-inverse-secondary-disabled-icon-color: #00000080;
  --cds-button-inverse-secondary-disabled-border-color: #00000080;
  --cds-button-inverse-tertiary-default-background-color: #00000000;
  --cds-button-inverse-tertiary-default-text-color: #000000;
  --cds-button-inverse-tertiary-default-icon-color: #000000;
  --cds-button-inverse-tertiary-default-border-color: #000000;
  --cds-button-inverse-tertiary-hover-background-color: #00000000;
  --cds-button-inverse-tertiary-hover-text-color: #1c1c1c;
  --cds-button-inverse-tertiary-hover-icon-color: #1c1c1c;
  --cds-button-inverse-tertiary-hover-border-color: #1c1c1c;
  --cds-button-inverse-tertiary-disabled-background-color: #00000000;
  --cds-button-inverse-tertiary-disabled-text-color: #00000080;
  --cds-button-inverse-tertiary-disabled-icon-color: #00000080;
  --cds-button-inverse-tertiary-disabled-border-color: #00000080;
  --cds-button-destructive-secondary-default-background-color: #00000000;
  --cds-button-destructive-secondary-default-text-color: #B52C2C;
  --cds-button-destructive-secondary-default-icon-color: #B52C2C;
  --cds-button-destructive-secondary-default-border-color: #B52C2C;
  --cds-button-destructive-secondary-hover-background-color: #00000000;
  --cds-button-destructive-secondary-hover-text-color: #CF3B3B;
  --cds-button-destructive-secondary-hover-icon-color: #CF3B3B;
  --cds-button-destructive-secondary-hover-border-color: #CF3B3B;
  --cds-button-destructive-tertiary-default-background-color: #00000000;
  --cds-button-destructive-tertiary-default-text-color: #B52C2C;
  --cds-button-destructive-tertiary-default-icon-color: #B52C2C;
  --cds-button-destructive-tertiary-default-border-color: #B52C2C;
  --cds-button-destructive-tertiary-hover-background-color: #00000000;
  --cds-button-destructive-tertiary-hover-text-color: #CF3B3B;
  --cds-button-destructive-tertiary-hover-icon-color: #CF3B3B;
  --cds-button-destructive-tertiary-hover-border-color: #CF3B3B;
  --cds-breadcrumb-divider-color: #acaea7;
  --cds-breadcrumb-action-color: #005EB8;
  --cds-breadcrumb-active-action-color: #4b4c45;
  --cds-breadcrumb-md-font: 16px/20px Gotham Medium;
  --cds-breadcrumb-sm-font: 13px/16px Gotham Medium;
  --cds-border-color-neutral: #e3e4e2;
  --cds-border-color-primary: #005EB8;
  --cds-border-radius-none: 0px;
  --cds-border-radius-rounded: 8px;
  --cds-border-radius-circle: 512px;
  --cds-border-width-default: 1px;
  --cds-border-width-none: 0px;
  --cds-badge-primary-background-color: #005EB8;
  --cds-badge-primary-text-color: #FFFFFF;
  --cds-badge-primary-icon-color: #FFFFFF;
  --cds-badge-primary-border-color: #005EB8;
  --cds-badge-padding-x: 4px;
  --cds-badge-padding-y: 4px;
  --cds-badge-border-radius: 4px;
  --cds-badge-border-radius-pill: 512px;
  --cds-badge-border-width: 1px;
  --cds-badge-danger-background-color: #B52C2C;
  --cds-badge-danger-text-color: #FFFFFF;
  --cds-badge-danger-icon-color: #FFFFFF;
  --cds-badge-danger-border-color: #B52C2C;
  --cds-badge-warning-background-color: #FFB500;
  --cds-badge-warning-text-color: #000000;
  --cds-badge-warning-icon-color: #000000;
  --cds-badge-warning-border-color: #FFB500;
  --cds-badge-success-background-color: #069D45;
  --cds-badge-success-text-color: #FFFFFF;
  --cds-badge-success-icon-color: #FFFFFF;
  --cds-badge-success-border-color: #069D45;
  --cds-badge-info-background-color: #0086BF;
  --cds-badge-info-text-color: #FFFFFF;
  --cds-badge-info-icon-color: #FFFFFF;
  --cds-badge-info-border-color: #0086BF;
  --cds-badge-neutral-background-color: #e3e4e2;
  --cds-badge-neutral-text-color: #2e2f2a;
  --cds-badge-neutral-icon-color: #2e2f2a;
  --cds-badge-neutral-border-color: #e3e4e2;
  --cds-badge-font: 10px/13px Gotham Bold;
  --cds-background-primary-default: #005EB8;
  --cds-background-primary-subtle: #D2E9FF;
  --cds-background-primary-amplified: #004180;
  --cds-background-accent-default: #FFB500;
  --cds-background-accent-subtle: #FFF1CF;
  --cds-background-accent-amplified: #8F6500;
  --cds-background-secondary-default: #0086BF;
  --cds-background-secondary-subtle: #C9EFFF;
  --cds-background-secondary-amplified: #004663;
  --cds-background-neutral-subtle: #FFFFFF;
  --cds-background-neutral-default: #FFFFFF;
  --cds-background-neutral-amplified: #e3e4e2;
  --cds-alert-primary-background-color: #D2E9FF;
  --cds-alert-primary-body-color: #004180;
  --cds-alert-primary-border-color: #005EB8;
  --cds-alert-primary-header-color: #004180;
  --cds-alert-primary-icon-color: #004180;
  --cds-alert-danger-background-color: #EBADAD;
  --cds-alert-danger-body-color: #5B1616;
  --cds-alert-danger-border-color: #B52C2C;
  --cds-alert-danger-header-color: #5B1616;
  --cds-alert-danger-icon-color: #5B1616;
  --cds-alert-success-background-color: #E6FEF0;
  --cds-alert-success-body-color: #035827;
  --cds-alert-success-border-color: #069D45;
  --cds-alert-success-header-color: #035827;
  --cds-alert-success-icon-color: #035827;
  --cds-alert-warning-background-color: #FFF1CF;
  --cds-alert-warning-body-color: #8F6500;
  --cds-alert-warning-border-color: #FFB500;
  --cds-alert-warning-header-color: #8F6500;
  --cds-alert-warning-icon-color: #8F6500;
  --cds-alert-border-radius: 8px;
  --cds-alert-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --cds-alert-neutral-background-color: #e3e4e2;
  --cds-alert-neutral-body-color: #2e2f2a;
  --cds-alert-neutral-border-color: #4b4c45;
  --cds-alert-neutral-header-color: #2e2f2a;
  --cds-alert-neutral-icon-color: #2e2f2a;
  --cds-alert-header-font: 20px/20px Gotham Bold;
  --cds-alert-body-font: 16px/20px Gotham Book;
  --cds-alert-padding-x: 16px;
  --cds-alert-padding-y: 16px;
  --cds-alert-close-color: #2e2f2a;
  --cds-accordion-background-color: #FFFFFF;
  --cds-accordion-border-color: #e3e4e2;
  --cds-accordion-underline-color: #c8c9c4;
  --cds-accordion-action-color: #005EB8;
  --cds-accordion-body-color: #2e2f2a;
  --cds-accordion-hover-background-color: #D2E9FF;
  --cds-accordion-active-background-color: #e3e4e2;
  --cds-accordion-active-action-color: #4b4c45;
  --cds-accordion-disabled-background-color: #f6f6f5;
  --cds-accordion-disabled-action-color: #acaea7;
  --cds-accordion-border-radius: 8px;
  --cds-accordion-border-width: 1px;
  --cds-accordion-no-border: 0px;
  --cds-accordion-padding-x: 16px;
  --cds-accordion-padding-y: 12px;
  --cds-accordion-link-font: 16px/20px Gotham Medium;
  --cds-accordion-body-font: 16px/20px Gotham Book;
      }