:root {
          --type-heading-h1-desktop-regular: 49px/52px Gotham Book;
  --type-heading-h1-desktop-bold: 49px/52px Gotham Bold;
  --type-heading-h1-mobile-regular: 31px/32px Gotham Book;
  --type-heading-h1-mobile-bold: 31px/32px Gotham Bold;
  --type-heading-h2-desktop-regular: 39px/40px Gotham Book;
  --type-heading-h2-desktop-bold: 39px/40px Gotham Bold;
  --type-heading-h2-mobile-regular: 31px/32px Gotham Book;
  --type-heading-h2-mobile-bold: 31px/32px Gotham Bold;
  --type-heading-h3-desktop-regular: 31px/32px Gotham Book;
  --type-heading-h3-desktop-bold: 31px/32px Gotham Bold;
  --type-heading-h3-mobile-regular: 25px/28px Gotham Book;
  --type-heading-h3-mobile-bold: 25px/28px Gotham Bold;
  --type-heading-h4-desktop-regular: 25px/28px Gotham Book;
  --type-heading-h4-desktop-bold: 25px/28px Gotham Bold;
  --type-heading-h4-mobile-regular: 20px/20px Gotham Book;
  --type-heading-h4-mobile-bold: 20px/20px Gotham Bold;
  --type-heading-h5-desktop-regular: 20px/20px Gotham Book;
  --type-heading-h5-desktop-bold: 20px/20px Gotham Bold;
  --type-heading-h5-mobile-regular: 16px/20px Gotham Book;
  --type-heading-h5-mobile-bold: 16px/20px Gotham Bold;
  --type-heading-h6-desktop-regular: 16px/20px Gotham Book;
  --type-heading-h6-desktop-bold: 16px/20px Gotham Bold;
  --type-heading-h6-mobile-regular: 16px/20px Gotham Book;
  --type-heading-h6-mobile-bold: 16px/20px Gotham Bold;
  --type-body-p-desktop-regular: 16px/20px Gotham Book;
  --type-body-p-desktop-bold: 16px/20px Gotham Bold;
  --type-body-p-mobile-regular: 16px/20px Gotham Book;
  --type-body-p-mobile-bold: 16px/20px Gotham Bold;
  --type-body-p-small-desktop-regular: 13px/16px Gotham Book;
  --type-body-p-small-desktop-bold: 13px/16px Gotham Bold;
  --type-body-p-small-mobile-regular: 13px/16px Gotham Book;
  --type-body-p-small-mobile-bold: 13px/16px Gotham Bold;
  --type-color: #FFFFFF;
  --type-color-white: #FFFFFF;
  --type-color-accent: #FFD05C;
  --type-color-primary: #61B3FF;
  --type-case-uppercase: uppercase;
  --tooltip-padding-x: 8px;
  --tooltip-padding-y: 4px;
  --tooltip-border-radius: 4px;
  --tooltip-border-width: 1px;
  --tooltip-font: 10px/13px Gotham Book;
  --tooltip-background-color: #FFFFFF;
  --tooltip-border-color: #FFFFFF;
  --tooltip-text-color: #1d1e1b;
  --toast-background-color: #2e2f2a;
  --toast-body-color: #FFFFFF;
  --toast-border-color: #4b4c45;
  --toast-action-color: #61B3FF;
  --toast-border-radius: 8px;
  --toast-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --toast-button-font: 16px/20px Gotham Bold;
  --table-background-color: #2e2f2a;
  --table-border-color: #4b4c45;
  --table-no-background: #00000000;
  --table-header-color: #FFFFFF;
  --table-text-color: #FFFFFF;
  --table-action-color: #61B3FF;
  --table-hover-background-color: #004180;
  --table-active-background-color: #4b4c45;
  --table-active-action-color: #ecedec;
  --table-disabled-background-color: #2e2f2a;
  --table-disabled-action-color: #919389;
  --table-disabled-header-color: #acaea7;
  --table-disabled-text-color: #acaea7;
  --table-border-radius: 0px;
  --table-border-width: 1px;
  --table-no-border: 0px;
  --table-header-font: 16px/20px Gotham Medium;
  --table-cell-font: 16px/20px Gotham Book;
  --tab-background-color: #2e2f2a;
  --tab-border-color: #4b4c45;
  --tab-no-background: #00000000;
  --tab-underline-color: #4b4c45;
  --tab-action-color: #61B3FF;
  --tab-hover-background-color: #004180;
  --tab-active-background-color: #4b4c45;
  --tab-active-action-color: #ecedec;
  --tab-disabled-background-color: #2e2f2a;
  --tab-disabled-action-color: #919389;
  --tab-border-radius: 4px;
  --tab-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --tab-no-shadow: 0px 0px 0px 0px #00000000;
  --tab-border-width: 1px;
  --tab-no-border: 0px;
  --tab-padding-x: 16px;
  --tab-padding-y: 12px;
  --tab-font: 16px/20px Gotham Medium;
  --margin-1: 8px;
  --margin-2: 12px;
  --margin-3: 16px;
  --margin-4: 24px;
  --margin-5: 32px;
  --padding-1: 8px;
  --padding-2: 12px;
  --padding-3: 16px;
  --padding-4: 24px;
  --padding-5: 32px;
  --progress-label: 13px/16px Gotham Book;
  --progress-progress-color: #61B3FF;
  --progress-background-color: #4b4c45;
  --progress-label-color: #FFFFFF;
  --progress-default-height: 8px;
  --progress-small-height: 4px;
  --progress-large-height: 12px;
  --pagination-background-color: #2e2f2a;
  --pagination-border-color: #4b4c45;
  --pagination-action-color: #61B3FF;
  --pagination-hover-background-color: #004180;
  --pagination-active-background-color: #4b4c45;
  --pagination-active-action-color: #ecedec;
  --pagination-disabled-background-color: #2e2f2a;
  --pagination-disabled-action-color: #919389;
  --pagination-border-radius: 8px;
  --pagination-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --pagination-md-padding-x: 16px;
  --pagination-md-padding-y: 12px;
  --pagination-md-font: 16px/20px Gotham Medium;
  --pagination-sm-font: 13px/16px Gotham Medium;
  --pagination-sm-padding-x: 12px;
  --pagination-sm-padding-y: 8px;
  --pagination-lg-font: 20px/20px Gotham Medium;
  --pagination-lg-padding-x: 16px;
  --pagination-lg-padding-y: 12px;
  --nav-background-color: #2e2f2a;
  --nav-border-color: #4b4c45;
  --nav-underline-color: #4b4c45;
  --nav-action-color: #61B3FF;
  --nav-hover-background-color: #004180;
  --nav-active-background-color: #4b4c45;
  --nav-active-action-color: #ecedec;
  --nav-disabled-background-color: #2e2f2a;
  --nav-disabled-action-color: #919389;
  --nav-border-width: 1px;
  --nav-no-border: 0px;
  --nav-padding-x: 16px;
  --nav-padding-y: 12px;
  --nav-link-font: 16px/20px Gotham Medium;
  --nav-subnav-link-font: 13px/16px Gotham Medium;
  --modal-border-radius: 8px;
  --modal-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --modal-background-color: #2e2f2a;
  --modal-header-color: #FFFFFF;
  --modal-body-color: #FFFFFF;
  --modal-border-color: #4b4c45;
  --modal-header-font: 25px/28px Gotham Book;
  --modal-body-font: 16px/20px Gotham Book;
  --modal-default-max-width: 660px;
  --modal-small-max-width: 320px;
  --modal-wide-max-width: 990px;
  --list-group-background-color: #2e2f2a;
  --list-group-border-color: #4b4c45;
  --list-group-underline-color: #4b4c45;
  --list-group-icon-color: #61B3FF;
  --list-group-body-color: #FFFFFF;
  --list-group-heading-color: #FFFFFF;
  --list-group-hover-background-color: #004180;
  --list-group-active-background-color: #4b4c45;
  --list-group-active-icon-color: #ecedec;
  --list-group-active-heading-color: #ecedec;
  --list-group-active-body-color: #ecedec;
  --list-group-disabled-background-color: #2e2f2a;
  --list-group-disabled-heading-color: #919389;
  --list-group-disabled-body-color: #919389;
  --list-group-disabled-icon-color: #919389;
  --list-group-border-radius: 8px;
  --list-group-border-width: 1px;
  --list-group-no-border: 0px;
  --list-group-padding-x: 16px;
  --list-group-padding-y: 12px;
  --list-group-heading-font: 16px/20px Gotham Bold;
  --list-group-action-font: 16px/20px Gotham Book;
  --list-group-body-font: 16px/20px Gotham Book;
  --list-group-image-border-radius-default: 0px;
  --list-group-image-border-radius-rounded: 8px;
  --list-group-image-border-radius-circle: 512px;
  --link-color-default: #61B3FF;
  --link-color-white: #FFFFFF;
  --link-text-decoration-underline: underline;
  --link-font-default: 16px/20px Gotham Book;
  --link-font-bold: 16px/20px Gotham Bold;
  --image-background-color: #4b4c45;
  --image-icon-color: #919389;
  --image-icon-color-inverse: #FFFFFF;
  --icon-color-default: #FFFFFF;
  --icon-color-muted: #ecedec;
  --icon-color-primary: #61B3FF;
  --header-default-background-color: #1d1e1b;
  --header-default-action-color: #FFFFFF;
  --header-default-border-color: #4b4c45;
  --header-default-logo-color: #FFFFFF;
  --header-shadow-default: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --header-border-width: 1px;
  --header-border-radius: 0px;
  --header-action-font: 16px/20px Gotham Medium;
  --header-primary-background-color: #004180;
  --header-primary-action-color: #FFFFFF;
  --header-primary-border-color: #004180;
  --header-primary-logo-color: #FFFFFF;
  --breakpoints-xs: 320px;
  --breakpoints-sm: 576px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 992px;
  --breakpoints-xl: 1200px;
  --breakpoints-xxl: 1400px;
  --containers-xs: 290px;
  --containers-sm: 540px;
  --containers-md: 720px;
  --containers-lg: 960px;
  --containers-xl: 1140px;
  --containers-xxl: 1140px;
  --containers-fluid: 100%px;
  --form-input-color: #FFFFFF;
  --form-placeholder-color: #919389;
  --form-border-color: #4b4c45;
  --form-background-color: #1d1e1b;
  --form-icon-color: #ecedec;
  --form-hint-text-color: #ecedec;
  --form-label-color: #FFFFFF;
  --form-select-option-default-background-color: #2e2f2a;
  --form-select-option-default-text-color: #FFFFFF;
  --form-select-option-hover-text-color: #61B3FF;
  --form-select-option-hover-background-color: #004180;
  --form-select-option-border-radius: 8px;
  --form-select-option-text: 16px/20px Gotham Medium;
  --form-select-option-padding-x: 16px;
  --form-select-option-padding-y: 12px;
  --form-select-option-active-text-color: #FFFFFF;
  --form-select-option-active-background-color: #4b4c45;
  --form-select-option-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --form-disabled-label-color: #acaea7;
  --form-disabled-input-color: #acaea7;
  --form-disabled-hint-color: #acaea7;
  --form-disabled-icon-color: #919389;
  --form-disabled-background-color: #2e2f2a;
  --form-disabled-border-color: #4b4c45;
  --form-error-hint-text: #DF7C7C;
  --form-error-border-color: #DF7C7C;
  --form-error-icon-color: #DF7C7C;
  --form-success-icon-color: #3AF789;
  --form-focus-border-color: #61B3FF;
  --form-check-radio-default: #61B3FF;
  --form-check-radio-hover: #007BF0;
  --form-check-radio-size-default: 22px;
  --form-check-radio-size-inside: 8px;
  --form-check-radio-gap: 8px;
  --form-pin-size-default: 44px;
  --form-pin-size-small: 32px;
  --form-pin-size-large: 52px;
  --form-input-border-radius: 4px;
  --form-input-border-width: 1px;
  --form-input-text-small: 13px/16px Gotham Book;
  --form-input-text-medium: 16px/20px Gotham Book;
  --form-input-text-large: 20px/20px Gotham Book;
  --form-input-text-label: 13px/16px Gotham Medium;
  --form-input-text-gap: 10px;
  --form-input-small-padding-x: 8px;
  --form-input-small-padding-y: 8px;
  --form-input-medium-padding-x: 16px;
  --form-input-medium-padding-y: 12px;
  --form-input-large-padding-x: 24px;
  --form-input-large-padding-y: 16px;
  --form-input-gap: 5px;
  --form-hint-text: 10px/12px Gotham Book;
  --form-border-radius-none: 0px;
  --form-select-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  --form-check-radio-label: 16px/20px Gotham Book;
  --form-input-group-text-small: 13px/16px Gotham Medium;
  --form-input-group-text-medium: 16px/20px Gotham Medium;
  --form-input-group-text-large: 20px/20px Gotham Medium;
  --form-radio-button-default-label-color: #61B3FF;
  --form-radio-button-default-border-color: #61B3FF;
  --form-radio-button-default-icon-color: #61B3FF;
  --form-radio-button-default-background-color: #00000000;
  --form-radio-button-active-label-color: #ecedec;
  --form-radio-button-active-border-color: #4b4c45;
  --form-radio-button-active-icon-color: #ecedec;
  --form-radio-button-active-background-color: #4b4c45;
  --form-radio-button-hover-label-color: #61B3FF;
  --form-radio-button-hover-border-color: #61B3FF;
  --form-radio-button-hover-icon-color: #61B3FF;
  --form-radio-button-hover-background-color: #004180;
  --form-radio-button-text: 16px/20px Gotham Medium;
  --radio-button-border-radius: 8px;
  --dropdown-background-color: #2e2f2a;
  --dropdown-border-color: #4b4c45;
  --dropdown-no-background: #00000000;
  --dropdown-underline-color: #4b4c45;
  --dropdown-action-color: #FFFFFF;
  --dropdown-text-color: #FFFFFF;
  --dropdown-hover-background-color: #004180;
  --dropdown-hover-action-color: #61B3FF;
  --dropdown-active-background-color: #4b4c45;
  --dropdown-disabled-action-color: #919389;
  --dropdown-border-radius: 4px;
  --dropdown-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --dropdown-no-shadow: 0px 0px 0px 0px #00000000;
  --dropdown-border-width: 1px;
  --dropdown-no-border: 0px;
  --dropdown-padding-y: 12px;
  --dropdown-padding-x: 16px;
  --dropdown-font: 16px/20px Gotham Book;
  --dropdown-divider-padding-y: 6px;
  --card-background-color: #2e2f2a;
  --card-header-color: #FFFFFF;
  --card-header-color-link: #61B3FF;
  --card-subhead-color: #FFFFFF;
  --card-body-color: #FFFFFF;
  --card-border-color: #4b4c45;
  --card-border-radius: 8px;
  --card-shadow: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --card-border-width: 1px;
  --card-header-default: 25px/28px Gotham Bold;
  --card-header-small: 20px/20px Gotham Bold;
  --card-subhead: 20px/20px Gotham Bold;
  --card-body-default: 16px/20px Gotham Book;
  --card-body-small: 13px/16px Gotham Book;
  --card-padding-x: 16px;
  --card-padding-y: 16px;
  --button-primary-default-background-color: #61B3FF;
  --button-primary-default-text-color: #000000;
  --button-primary-default-icon-color: #000000;
  --button-primary-default-border-color: #61B3FF;
  --button-primary-hover-background-color: #007BF0;
  --button-primary-hover-text-color: #000000;
  --button-primary-hover-icon-color: #000000;
  --button-primary-hover-border-color: #007BF0;
  --button-primary-disabled-background-color: #919389;
  --button-primary-disabled-text-color: #2e2f2a;
  --button-primary-disabled-icon-color: #2e2f2a;
  --button-primary-disabled-border-color: #919389;
  --button-primary-border-radius: 8px;
  --button-primary-small-padding-x: 8px;
  --button-primary-small-padding-y: 8px;
  --button-primary-medium-padding-x: 16px;
  --button-primary-medium-padding-y: 12px;
  --button-primary-large-padding-x: 24px;
  --button-primary-large-padding-y: 16px;
  --button-primary-border-width: 1px;
  --button-primary-underline: 0px;
  --button-secondary-default-background-color: #00000000;
  --button-secondary-default-text-color: #61B3FF;
  --button-secondary-default-icon-color: #61B3FF;
  --button-secondary-default-border-color: #61B3FF;
  --button-secondary-hover-background-color: #00000000;
  --button-secondary-hover-text-color: #007BF0;
  --button-secondary-hover-icon-color: #007BF0;
  --button-secondary-hover-border-color: #007BF0;
  --button-secondary-disabled-background-color: #00000000;
  --button-secondary-disabled-text-color: #919389;
  --button-secondary-disabled-icon-color: #919389;
  --button-secondary-disabled-border-color: #919389;
  --button-secondary-border-radius: 8px;
  --button-secondary-small-padding-x: 8px;
  --button-secondary-small-padding-y: 8px;
  --button-secondary-medium-padding-x: 16px;
  --button-secondary-medium-padding-y: 12px;
  --button-secondary-large-padding-x: 24px;
  --button-secondary-large-padding-y: 16px;
  --button-secondary-border-width: 1px;
  --button-secondary-underline: 0px;
  --button-tertiary-default-background-color: #00000000;
  --button-tertiary-default-text-color: #61B3FF;
  --button-tertiary-default-icon-color: #61B3FF;
  --button-tertiary-default-border-color: #61B3FF;
  --button-tertiary-hover-background-color: #00000000;
  --button-tertiary-hover-text-color: #007BF0;
  --button-tertiary-hover-icon-color: #007BF0;
  --button-tertiary-hover-border-color: #007BF0;
  --button-tertiary-disabled-background-color: #00000000;
  --button-tertiary-disabled-text-color: #919389;
  --button-tertiary-disabled-icon-color: #919389;
  --button-tertiary-disabled-border-color: #919389;
  --button-tertiary-border-radius: 0px;
  --button-tertiary-small-padding-x: 0px;
  --button-tertiary-small-padding-y: 8px;
  --button-tertiary-medium-padding-x: 0px;
  --button-tertiary-medium-padding-y: 8px;
  --button-tertiary-large-padding-x: 0px;
  --button-tertiary-large-padding-y: 8px;
  --button-tertiary-border-width: 0px;
  --button-tertiary-underline: 1px;
  --button-small-font: 13px/16px Gotham Bold;
  --button-medium-font: 16px/20px Gotham Bold;
  --button-large-font: 20px/20px Gotham Bold;
  --button-shadow-active: 0px 0.475px 0.6px -1.25px #00000014, 0px 3.75px 5px -1.25px #00000026;
  --button-cta-primary-default-background-color: #FFDD8A;
  --button-cta-primary-default-text-color: #000000;
  --button-cta-primary-default-icon-color: #000000;
  --button-cta-primary-default-border-color: #FFDD8A;
  --button-cta-primary-hover-background-color: #f7d247;
  --button-cta-primary-hover-text-color: #000000;
  --button-cta-primary-hover-icon-color: #000000;
  --button-cta-primary-hover-border-color: #f7d247;
  --button-cta-primary-disabled-background-color: #919389;
  --button-cta-primary-disabled-text-color: #2e2f2a;
  --button-cta-primary-disabled-icon-color: #2e2f2a;
  --button-cta-primary-disabled-border-color: #919389;
  --button-white-primary-default-background-color: #FFFFFF;
  --button-white-primary-default-text-color: #000000;
  --button-white-primary-default-icon-color: #000000;
  --button-white-primary-default-border-color: #FFFFFF;
  --button-white-primary-hover-background-color: #f6f6f5;
  --button-white-primary-hover-text-color: #000000;
  --button-white-primary-hover-icon-color: #000000;
  --button-white-primary-hover-border-color: #f6f6f5;
  --button-white-primary-disabled-background-color: #ffffff80;
  --button-white-primary-disabled-text-color: #00000080;
  --button-white-primary-disabled-icon-color: #00000080;
  --button-white-primary-disabled-border-color: #ffffff80;
  --button-white-secondary-default-background-color: #00000000;
  --button-white-secondary-default-text-color: #FFFFFF;
  --button-white-secondary-default-icon-color: #FFFFFF;
  --button-white-secondary-default-border-color: #FFFFFF;
  --button-white-secondary-hover-background-color: #00000000;
  --button-white-secondary-hover-text-color: #f6f6f5;
  --button-white-secondary-hover-icon-color: #f6f6f5;
  --button-white-secondary-hover-border-color: #f6f6f5;
  --button-white-secondary-disabled-background-color: #00000000;
  --button-white-secondary-disabled-text-color: #ffffff80;
  --button-white-secondary-disabled-icon-color: #ffffff80;
  --button-white-secondary-disabled-border-color: #ffffff80;
  --button-white-tertiary-default-background-color: #00000000;
  --button-white-tertiary-default-text-color: #FFFFFF;
  --button-white-tertiary-default-icon-color: #FFFFFF;
  --button-white-tertiary-default-border-color: #FFFFFF;
  --button-white-tertiary-hover-background-color: #00000000;
  --button-white-tertiary-hover-text-color: #f6f6f5;
  --button-white-tertiary-hover-icon-color: #f6f6f5;
  --button-white-tertiary-hover-border-color: #f6f6f5;
  --button-white-tertiary-disabled-background-color: #00000000;
  --button-white-tertiary-disabled-text-color: #ffffff80;
  --button-white-tertiary-disabled-icon-color: #ffffff80;
  --button-white-tertiary-disabled-border-color: #ffffff80;
  --button-inverse-primary-default-background-color: #FFFFFF;
  --button-inverse-primary-default-text-color: #000000;
  --button-inverse-primary-default-icon-color: #000000;
  --button-inverse-primary-default-border-color: #FFFFFF;
  --button-inverse-primary-hover-background-color: #e2e2e2;
  --button-inverse-primary-hover-text-color: #000000;
  --button-inverse-primary-hover-icon-color: #000000;
  --button-inverse-primary-hover-border-color: #e2e2e2;
  --button-inverse-primary-disabled-background-color: #ffffff80;
  --button-inverse-primary-disabled-text-color: #00000080;
  --button-inverse-primary-disabled-icon-color: #00000080;
  --button-inverse-primary-disabled-border-color: #ffffff80;
  --button-inverse-secondary-default-background-color: #00000000;
  --button-inverse-secondary-default-text-color: #FFFFFF;
  --button-inverse-secondary-default-icon-color: #FFFFFF;
  --button-inverse-secondary-default-border-color: #FFFFFF;
  --button-inverse-secondary-hover-background-color: #00000000;
  --button-inverse-secondary-hover-text-color: #e2e2e2;
  --button-inverse-secondary-hover-icon-color: #e2e2e2;
  --button-inverse-secondary-hover-border-color: #e2e2e2;
  --button-inverse-secondary-disabled-background-color: #00000000;
  --button-inverse-secondary-disabled-text-color: #ffffff80;
  --button-inverse-secondary-disabled-icon-color: #ffffff80;
  --button-inverse-secondary-disabled-border-color: #ffffff80;
  --button-inverse-tertiary-default-background-color: #00000000;
  --button-inverse-tertiary-default-text-color: #FFFFFF;
  --button-inverse-tertiary-default-icon-color: #FFFFFF;
  --button-inverse-tertiary-default-border-color: #FFFFFF;
  --button-inverse-tertiary-hover-background-color: #00000000;
  --button-inverse-tertiary-hover-text-color: #e2e2e2;
  --button-inverse-tertiary-hover-icon-color: #e2e2e2;
  --button-inverse-tertiary-hover-border-color: #e2e2e2;
  --button-inverse-tertiary-disabled-background-color: #00000000;
  --button-inverse-tertiary-disabled-text-color: #ffffff80;
  --button-inverse-tertiary-disabled-icon-color: #ffffff80;
  --button-inverse-tertiary-disabled-border-color: #ffffff80;
  --button-destructive-secondary-default-background-color: #00000000;
  --button-destructive-secondary-default-text-color: #DF7C7C;
  --button-destructive-secondary-default-icon-color: #DF7C7C;
  --button-destructive-secondary-default-border-color: #DF7C7C;
  --button-destructive-secondary-hover-background-color: #00000000;
  --button-destructive-secondary-hover-text-color: #D75B5B;
  --button-destructive-secondary-hover-icon-color: #D75B5B;
  --button-destructive-secondary-hover-border-color: #D75B5B;
  --button-destructive-tertiary-default-background-color: #00000000;
  --button-destructive-tertiary-default-text-color: #DF7C7C;
  --button-destructive-tertiary-default-icon-color: #DF7C7C;
  --button-destructive-tertiary-default-border-color: #DF7C7C;
  --button-destructive-tertiary-hover-background-color: #00000000;
  --button-destructive-tertiary-hover-text-color: #D75B5B;
  --button-destructive-tertiary-hover-icon-color: #D75B5B;
  --button-destructive-tertiary-hover-border-color: #D75B5B;
  --breadcrumb-divider-color: #919389;
  --breadcrumb-action-color: #61B3FF;
  --breadcrumb-active-action-color: #ecedec;
  --breadcrumb-md-font: 16px/20px Gotham Medium;
  --breadcrumb-sm-font: 13px/16px Gotham Medium;
  --border-color-neutral: #4b4c45;
  --border-color-primary: #61B3FF;
  --border-radius-none: 0px;
  --border-radius-rounded: 8px;
  --border-radius-circle: 512px;
  --border-width-default: 1px;
  --border-width-none: 0px;
  --badge-primary-background-color: #61B3FF;
  --badge-primary-text-color: #000000;
  --badge-primary-icon-color: #000000;
  --badge-primary-border-color: #61B3FF;
  --badge-padding-x: 4px;
  --badge-padding-y: 4px;
  --badge-border-radius: 4px;
  --badge-border-radius-pill: 512px;
  --badge-border-width: 1px;
  --badge-danger-background-color: #DF7C7C;
  --badge-danger-text-color: #000000;
  --badge-danger-icon-color: #000000;
  --badge-danger-border-color: #DF7C7C;
  --badge-warning-background-color: #FFD05C;
  --badge-warning-text-color: #000000;
  --badge-warning-icon-color: #000000;
  --badge-warning-border-color: #FFD05C;
  --badge-success-background-color: #3AF789;
  --badge-success-text-color: #000000;
  --badge-success-icon-color: #000000;
  --badge-success-border-color: #3AF789;
  --badge-info-background-color: #87DBFF;
  --badge-info-text-color: #000000;
  --badge-info-icon-color: #000000;
  --badge-info-border-color: #87DBFF;
  --badge-neutral-background-color: #4b4c45;
  --badge-neutral-text-color: #FFFFFF;
  --badge-neutral-icon-color: #FFFFFF;
  --badge-neutral-border-color: #4b4c45;
  --badge-font: 10px/13px Gotham Bold;
  --background-primary-default: #004180;
  --background-primary-subtle: #002448;
  --background-primary-amplified: #005EB8;
  --background-accent-default: #8F6500;
  --background-accent-subtle: #573E00;
  --background-accent-amplified: #C78D00;
  --background-secondary-default: #004663;
  --background-secondary-subtle: #002535;
  --background-secondary-amplified: #006691;
  --background-neutral-subtle: #2e2f2a;
  --background-neutral-default: #1d1e1b;
  --background-neutral-amplified: #4b4c45;
  --alert-primary-background-color: #004180;
  --alert-primary-body-color: #D2E9FF;
  --alert-primary-border-color: #61B3FF;
  --alert-primary-header-color: #D2E9FF;
  --alert-primary-icon-color: #D2E9FF;
  --alert-danger-background-color: #5B1616;
  --alert-danger-body-color: #EBADAD;
  --alert-danger-border-color: #DF7C7C;
  --alert-danger-header-color: #EBADAD;
  --alert-danger-icon-color: #EBADAD;
  --alert-success-background-color: #035827;
  --alert-success-body-color: #E6FEF0;
  --alert-success-border-color: #3AF789;
  --alert-success-header-color: #E6FEF0;
  --alert-success-icon-color: #E6FEF0;
  --alert-warning-background-color: #573E00;
  --alert-warning-body-color: #FFF1CF;
  --alert-warning-border-color: #FFD05C;
  --alert-warning-header-color: #FFF1CF;
  --alert-warning-icon-color: #FFF1CF;
  --alert-border-radius: 8px;
  --alert-shadow: 0px 0.95px 1.55px -2.5px #00000012, 0px 7.5px 12.5px -2.5px #00000024;
  --alert-neutral-background-color: #4b4c45;
  --alert-neutral-body-color: #FFFFFF;
  --alert-neutral-border-color: #ecedec;
  --alert-neutral-header-color: #FFFFFF;
  --alert-neutral-icon-color: #FFFFFF;
  --alert-header-font: 20px/20px Gotham Bold;
  --alert-body-font: 16px/20px Gotham Book;
  --alert-padding-x: 16px;
  --alert-padding-y: 16px;
  --alert-close-color: #FFFFFF;
  --accordion-background-color: #2e2f2a;
  --accordion-border-color: #4b4c45;
  --accordion-underline-color: #4b4c45;
  --accordion-action-color: #61B3FF;
  --accordion-body-color: #FFFFFF;
  --accordion-hover-background-color: #004180;
  --accordion-active-background-color: #4b4c45;
  --accordion-active-action-color: #ecedec;
  --accordion-disabled-background-color: #2e2f2a;
  --accordion-disabled-action-color: #919389;
  --accordion-border-radius: 8px;
  --accordion-border-width: 1px;
  --accordion-no-border: 0px;
  --accordion-padding-x: 16px;
  --accordion-padding-y: 12px;
  --accordion-link-font: 16px/20px Gotham Medium;
  --accordion-body-font: 16px/20px Gotham Book;
      }