.gds-docs__menu--directional__canvas .innerZoomElementWrapper {
  display: flex;
  justify-content: space-around;
  padding: 6rem 0;
}

[id^='story--layouts-menu--open-toward-'] li {
  min-width: 6rem;
  min-height: 6rem;
  background: #cacaca;
}
