.form-field-row {
  margin-bottom: var(--margin-2);
}

.form-label {
  display: block;
  max-width: fit-content;
  color: var(--form-label-color);
  font: var(--form-input-text-label);
}

.form-label.disabled {
  color: var(--form-disabled-label-color);
}

.form-input {
  display: block;
  flex: 1;
  padding: 0;
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  font: inherit;
  appearance: none;
}

.form-input::placeholder {
  color: var(--form-placeholder-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: var(--form-input-gap) 0;
  padding: var(--form-input-medium-padding-y) var(--form-input-medium-padding-x);
  width: 100%;
  border-width: var(--form-input-border-width);
  border-style: solid;
  border-color: var(--form-border-color);
  border-radius: var(--form-input-border-radius);
  background: var(--form-background-color);
  color: var(--form-input-color);
  font: var(--form-input-text-medium);
  align-items: center;
  gap: var(--form-input-text-gap);
}

.form-field:focus-visible,
.form-field:focus,
.form-field:focus-within,
.form-field:active  {
  border-color: var(--form-focus-border-color);
}

.form-field.small {
  padding: var(--form-input-small-padding-y) var(--form-input-small-padding-x);
  font: var(--form-input-text-small);
}

.form-field.large {
  padding: var(--form-input-large-padding-y) var(--form-input-large-padding-x);
  font: var(--form-input-text-large);
}

.form-field .form-icon {
  display: flex;
  background: inherit;
  color: var(--form-icon-color);
  align-items: center;
  justify-content: center;
  align-self: center;
}

/* ERROR */
.form-field.error {
  border-color: var(--form-error-border-color);
}

.form-field.error .form-icon:not(.select-icon) {
  color: var(--form-error-icon-color);
}

/* SUCCESS */
.form-field.success .form-icon:not(.select-icon) {
  color: var(--form-success-icon-color);
}

/* DISABLED */
.form-field.disabled {
  border-color: var(--form-disabled-border-color);
  background: var(--form-disabled-background-color);
  color: var(--form-disabled-input-color);
}

/* HINT */
.form-hint {
  display: block;
  color: var(--form-hint-text-color);
  font: var(--form-hint-text);
}

.form-hint.disabled {
  color: var(--form-disabled-hint-color);
}

.form-hint.error {
  color: var(--form-error-hint-text);
}

/* TEXTAREA */
.form-label-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.5;
}

.error textarea.form-input,
.success textarea.form-input {
  padding-right: inherit;
}

textarea.form-input + .form-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: inherit;
  padding-right: inherit;
}

/* RADIO & CHECKBOX */
.form-control {
  display: flex;
  align-items: center;
  gap: var(--form-check-radio-gap);
}

.form-control .form-label {
  font: var(--form-check-radio-label);
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  margin: 0;
  width: var(--form-check-radio-size-default);
  height: var(--form-check-radio-size-default);
  outline: none;
  border: 1px solid var(--form-border-color);
  background: var(--form-background-color);
  font: inherit;
  appearance: none;
}

.form-control input[type="radio"] {
  border-radius: 50%;
  transition: 120ms border ease-in-out;
}

.form-control input[type="radio"]:checked {
  border-width: var(--form-check-radio-size-inside);
  border-color: var(--form-check-radio-default);
}

.form-control input[type="radio"]:checked:hover {
  border-color: var(--form-check-radio-hover);
}

.form-control input[type="radio"]:checked:disabled {
  border-color: var(--form-disabled-border-color);
  background: var(--form-disabled-input-color);
}

.form-control input[type="radio"]:not(:checked).error,
.form-control input[type="checkbox"]:not(:checked).error {
  border-color: var(--form-error-border-color);
  background: var(--form-background-color);
}

.form-control input[type="checkbox"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--form-input-border-radius);
  transition: 120ms background-color ease-in-out;
}

.form-control input[type="checkbox"]:checked {
  border-color: var(--form-check-radio-default);
  background: var(--form-check-radio-default);
  font-size: var(--form-check-radio-size-default);
}

.form-control input[type="checkbox"]:checked::before {
  color: var(--form-background-color);
  content: "\f33e";
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font: normal normal normal 1em/1 Phosphor;
  flex-shrink: 0;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input[type="checkbox"]:checked:hover {
  border-color: var(--form-check-radio-hover);
  background: var(--form-check-radio-hover);
}

.form-control input[type="checkbox"]:checked:disabled {
  border-color: var(--form-disabled-border-color);
  background: var(--form-disabled-border-color);
}

.form-control input[type="checkbox"]:disabled::before {
  color: var(--form-disabled-input-color);
}

.form-control input:focus-visible,
.form-control input:focus,
.form-control input:focus-within,
.form-control input:active  {
  border-color: var(--form-focus-border-color);
}

/* PIN */
/* TODO: remove once grid styles are implemented */
.pin-field {
  display: flex;
  gap: var(--margin-3);
}

.pin-field .form-input {
  flex: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.pin-field .form-field {
  padding: var(--form-input-small-padding-y);
  width: var(--form-pin-size-default);
  height: var(--form-pin-size-default);
  text-align: center;
}

.pin-field.small .form-field {
  width: var(--form-pin-size-small);
  height: var(--form-pin-size-small);
}

.pin-field.large .form-field {
  width: var(--form-pin-size-large);
  height: var(--form-pin-size-large);
}

/* INPUT GROUP */
.input-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: var(--form-input-gap) 0;
}

.input-group-adornment {
  display: flex;
  padding: 0 var(--form-input-medium-padding-x);
  border-top-left-radius: var(--form-input-border-radius);
  border-bottom-left-radius: var(--form-input-border-radius);
  background: var(--form-border-color);
  color: var(--form-icon-color);
  font: var(--form-input-group-text-medium);
  align-items: center;
  justify-content: center;
  gap: var(--form-input-gap);
}

.input-group-adornment.small {
  padding-right: var(--form-input-small-padding-x);
  padding-left: var(--form-input-small-padding-x);
  font: var(--form-input-group-text-small);
}

.input-group-adornment.large {
  padding-right: var(--form-input-large-padding-x);
  padding-left: var(--form-input-large-padding-x);
  font: var(--form-input-group-text-large);
}

.input-group .form-field {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-field + .input-group-adornment,
.input-group-adornment + .form-field {
  border-radius: 0 var(--form-input-border-radius) var(--form-input-border-radius) 0;
}

/* SELECT */
.form-field.disabled .select-icon {
  color: var(--form-disabled-icon-color);
}
