.form-field-row {
  margin-bottom: var(--margin-2);
}

.form-label {
  color: var(--form-label-color);
  font: var(--form-input-text-label);
}

.form-label.disabled {
  color: var(--form-disabled-label-color);
}

.form-input {
  display: block;
  margin: 4px 0;
  padding: var(--form-input-medium-padding-y) var(--form-input-medium-padding-x);
  width: 100%;
  outline: none;
  border-width: var(--form-input-border-width);
  border-style: solid;
  border-color: var(--form-border-color);
  border-radius: var(--form-input-border-radius);
  background: var(--form-background-color);
  color: var(--form-input-color);
  font: var(--form-input-text-medium);
}

.form-input::placeholder {
  color: var(--form-placeholder-color);
}

.form-input:focus-visible,
.form-input:focus,
.form-input:focus-within,
.form-input:active  {
  border-color: var(--form-focus-border-color);
}

.form-field.small .form-input {
  padding: var(--form-input-small-padding-y) var(--form-input-small-padding-x);
  font: var(--form-input-text-small);
}

.form-field.large .form-input {
  padding: var(--form-input-large-padding-y) var(--form-input-large-padding-x);
  font: var(--form-input-text-large);
}

/* ERROR */
.form-field.error .form-input {
  border-color: var(--form-error-border-color);
}

/* DISABLED */
.form-input[disabled],
.form-field.disabled .form-input {
  border-color: var(--form-disabled-border-color);
  background: var(--form-disabled-background-color);
  color: var(--form-disabled-input-color);
}

/* HINT */
.form-hint {
  color: var(--form-hint-text-color);
  font: var(--form-hint-text);
}

.form-hint.disabled {
  color: var(--form-disabled-hint-color);
}

.form-hint.error {
  color: var(--form-error-hint-text);
}

/* WITH ICONS */
.form-field {
  position: relative;
}

.form-field .form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--form-icon-color);
}

.form-field.error .form-icon {
  color: var(--form-error-icon-color);
}

.form-field.success .form-icon {
  color: var(--form-success-icon-color);
}

.form-field.icon-right .form-icon {
  right: var(--form-input-medium-padding-x);
}

.form-field.icon-right .form-input {
  padding-right: calc(3 * var(--form-input-medium-padding-x));
}

.form-field.icon-right.small .form-icon {
  right: var(--form-input-small-padding-x);
}

.form-field.icon-right.large .form-icon {
  right: var(--form-input-large-padding-x);
}

.form-field.icon-left .form-icon {
  left: var(--form-input-medium-padding-x);
}

.form-field.icon-left .form-input {
  padding-left: calc(3 * var(--form-input-medium-padding-x));
}

.form-field.icon-left.small .form-icon {
  left: var(--form-input-small-padding-x);
}

.form-field.icon-left.large .form-icon {
  left: var(--form-input-large-padding-x);
}

/* PIN */
.form-field.pin-field {
  display: flex;
  gap: var(--margin-3);
}

.form-field.pin-field .form-input {
  padding: var(--form-input-small-padding-y);
  width: 48px;
  height: 48px;
  text-align: center;
}

.pin-field.small .form-input {
  width: 32px;
  height: 32px;
}

.pin-field.large .form-input {
  width: 52px;
  height: 52px;
}

/* TEXTAREA */
.form-label-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1.5;
}

textarea.form-input {
  max-width: 100%;
}

textarea.form-input + .form-icon {
  top: var(--form-input-large-padding-y);
  bottom: unset;
}

/* RADIO & CHECKBOX */
.form-control {
  display: flex;
  align-items: center;
  gap: var(--margin-1);
}

.form-control .form-label {
  font: var(--form-check-radio-label);
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  margin: 0;
  width: 22px;
  height: 22px;
  outline: none;
  border: 1px solid var(--form-border-color);
  background: var(--form-background-color);
  font: inherit;
  appearance: none;
}

.form-control input[type="radio"] {
  border-radius: 50%;
  transition: 120ms border ease-in-out;
}

.form-control input[type="radio"]:checked {
  border-width: 7px;
  border-color: var(--form-check-radio-default);
}

.form-control input[type="radio"]:checked:hover {
  border-color: var(--form-check-radio-hover);
}

.form-control input[type="radio"]:checked:disabled {
  border-color: var(--form-disabled-border-color);
  background: var(--form-disabled-input-color);
}

.form-control input[type="radio"]:not(:checked).error,
.form-control input[type="checkbox"]:not(:checked).error {
  border-color: var(--form-error-border-color);
  background: var(--form-background-color);
}

.form-control input[type="checkbox"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--form-input-border-radius);
  transition: 120ms background-color ease-in-out;
}

.form-control input[type="checkbox"]:checked {
  border-color: var(--form-check-radio-default);
  background: var(--form-check-radio-default);
  font-size: 22px;
}

.form-control input[type="checkbox"]:checked::before {
  color: var(--form-background-color);
  content: "\f33e";
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font: normal normal normal 1em/1 Phosphor;
  flex-shrink: 0;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control input[type="checkbox"]:checked:hover {
  border-color: var(--form-check-radio-hover);
  background: var(--form-check-radio-hover);
}

.form-control input[type="checkbox"]:checked:disabled {
  border-color: var(--form-disabled-border-color);
  background: var(--form-disabled-border-color);
}

.form-control input[type="checkbox"]:disabled::before {
  color: var(--form-disabled-input-color);
}

.form-control input:focus-visible,
.form-control input:focus,
.form-control input:focus-within,
.form-control input:active  {
  border-color: var(--form-focus-border-color);
}
