.error textarea.form-input,
.success textarea.form-input {
  padding-right: inherit;
}

textarea.form-input + .form-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: inherit;
  padding-right: inherit;
}
