.cds-button--primary, .cds-button--secondary, .cds-button--tertiary {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  appearance: none;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.cds-button--primary:not([disabled]):active, .cds-button--secondary:not([disabled]):active {
  box-shadow: var(--cds-button-shadow-active);
}
.cds-button--tertiary:not([disabled]):active {
  box-shadow: none;
}
.cds-button--primary {
  border-width: var(--cds-button-primary-border-width);
  border-style: solid;
  border-color: var(--cds-button-primary-default-border-color);
  border-radius: var(--cds-button-primary-border-radius);
  background: var(--cds-button-primary-default-background-color);
  color: var(--cds-button-primary-default-text-color);
}
.cds-button--primary.cds-button--small {
  padding: var(--cds-button-primary-small-padding-y) var(--cds-button-primary-small-padding-x);
}
.cds-button--primary.cds-button--medium {
  padding: var(--cds-button-primary-medium-padding-y) var(--cds-button-primary-medium-padding-x);
}
.cds-button--primary.cds-button--large {
  padding: var(--cds-button-primary-large-padding-y) var(--cds-button-primary-large-padding-x);
}
.cds-button--primary:hover {
  border-color: var(--cds-button-primary-hover-border-color);
  background: var(--cds-button-primary-hover-background-color);
  color: var(--cds-button-primary-hover-text-color);
}
.cds-button--primary:disabled {
  background: var(--cds-button-primary-disabled-background-color);
  color: var(--cds-button-primary-disabled-text-color);
  border-color: var(--cds-button-primary-disabled-border-color);
}
.cds-button--secondary {
  display: inline-block;
  border-width: var(--cds-button-secondary-border-width);
  border-style: solid;
  border-color: var(--cds-button-secondary-default-border-color);
  border-radius: var(--cds-button-secondary-border-radius);
  background: var(--cds-button-secondary-default-background-color);
  color: var(--cds-button-secondary-default-text-color);
  line-height: 1;
  cursor: pointer;
  appearance: none;
}
.cds-button--secondary.cds-button--small {
  padding: var(--cds-button-secondary-small-padding-y) var(--cds-button-secondary-small-padding-x);
}
.cds-button--secondary.cds-button--medium {
  padding: var(--cds-button-secondary-medium-padding-y) var(--cds-button-secondary-medium-padding-x);
}
.cds-button--secondary.cds-button--large {
  padding: var(--cds-button-secondary-large-padding-y) var(--cds-button-secondary-large-padding-x);
}
.cds-button--secondary:hover {
  border-color: var(--cds-button-secondary-hover-border-color);
  background: var(--cds-button-secondary--hover-background-color);
  color: var(--cds-button-secondary-hover-text-color);
}
.cds-button--secondary:disabled {
  background: var(--cds-button-secondary-disabled-background-color);
  color: var(--cds-button-secondary-disabled-text-color);
  border-color: var(--cds-button-secondary-disabled-border-color);
}
.cds-button--tertiary {
  display: inline-block;
  border-width: var(--cds-button-tertiary-border-width);
  border-style: solid;
  border-bottom-width: var(--cds-button-tertiary-underline);
  border-color: var(--cds-button-tertiary-default-border-color);
  border-radius: var(--cds-button-tertiary-border-radius);
  background: none;
  color: var(--cds-button-tertiary-default-text-color);
  line-height: 1;
  cursor: pointer;
  appearance: none;
}
.cds-button--tertiary.cds-button--small {
  padding: var(--cds-button-tertiary-small-padding-y) var(--cds-button-tertiary-small-padding-x);
}
.cds-button--tertiary.cds-button--medium {
  padding: var(--cds-button-tertiary-medium-padding-y) var(--cds-button-tertiary-medium-padding-x);
}
.cds-button--tertiary.cds-button--large {
  padding: var(--cds-button-tertiary-large-padding-y) var(--cds-button-tertiary-large-padding-x);
}
.cds-button--tertiary:hover {
  border-color: var(--cds-button-tertiary-hover-border-color);
  background: none;
  color: var(--cds-button-tertiary-hover-text-color);
}
.cds-button--tertiary:disabled {
  background: var(--cds-button-tertiary-disabled-background-color);
  color: var(--cds-button-tertiary-disabled-text-color);
  border-color: var(--cds-button-tertiary-disabled-border-color);
}
.cds-button--small {
  font: var(--cds-button-small-font);
}
.cds-button--medium {
  font: var(--cds-button-medium-font);
}
.cds-button--large {
  font: var(--cds-button-large-font);
}
.cds-button--cta {
  border-width: var(--cds-button-primary-border-width);
  border-style: solid;
  border-radius: var(--cds-button-primary-border-radius);
  border-color: var(--cds-button-cta-primary-default-border-color);
  background: var(--cds-button-cta-primary-default-background-color);
  color: var(--cds-button-cta-primary-default-text-color);
}
.cds-button--cta.cds-button--small {
  padding: var(--cds-button-primary-small-padding-y) var(--cds-button-primary-small-padding-x);
}
.cds-button--cta.cds-button--medium {
  padding: var(--cds-button-primary-medium-padding-y) var(--cds-button-primary-medium-padding-x);
}
.cds-button--cta.cds-button--large {
  padding: var(--cds-button-primary-large-padding-y) var(--cds-button-primary-large-padding-x);
}
.cds-button--cta:hover {
  border-color: var(--cds-button-cta-primary-hover-border-color);
  background: var(--cds-button-cta-primary-hover-background-color);
  color: var(--cds-button-cta-primary-hover-text-color);
}
.cds-button--cta:hover:disabled, .cds-button--tertiary:disabled {
  background: var(--cds-button-tertiary-disabled-background-color);
  color: var(--cds-button-tertiary-disabled-text-color);
  border-color: var(--cds-button-tertiary-disabled-border-color);
}
.cds-button--white {
  border-color: var(--cds-button-white-primary-default-border-color);
  background: var(--cds-button-white-primary-default-background-color);
  color: var(--cds-button-white-primary-default-text-color);
}
.cds-button--white:hover {
  border-color: var(--cds-button-white-primary-hover-border-color);
  background: var(--cds-button-white-primary-hover-background-color);
  color: var(--cds-button-white-primary-hover-text-color);
}
.cds-button--white:disabled {
  background: var(--cds-button-white-primary-disabled-background-color);
  color: var(--cds-button-white-primary-disabled-text-color);
  border-color: var(--cds-button-white-primary-disabled-border-color);
}
.cds-button--white.cds-button--secondary {
  background: var(--cds-button-white-secondary-default-background-color);
  border-color: var(--cds-button-white-secondary-default-border-color);
  color: var(--cds-button-white-secondary-default-text-color);
}
.cds-button--white.cds-button--secondary:hover {
  background: var(--cds-button-white-secondary-hover-background-color);
  border-color: var(--cds-button-white-secondary-hover-border-color);
  color: var(--cds-button-white-secondary-hover-text-color);
}
.cds-button--white.cds-button--secondary:disabled {
  background: var(--cds-button-white-secondary-disabled-background-color);
  color: var(--cds-button-white-secondary-disabled-text-color);
  border-color: var(--cds-button-white-secondary-disabled-border-color);
}
.cds-button--white.cds-button--tertiary {
  background: var(--cds-button-white-tertiary-default-background-color);
  border-color: var(--cds-button-white-tertiary-default-border-color);
  color: var(--cds-button-white-tertiary-default-text-color);
}
.cds-button--white.cds-button--tertiary:hover {
  background: var(--cds-button-white-tertiary-hover-background-color);
  border-color: var(--cds-button-white-tertiary-hover-border-color);
  color: var(--cds-button-white-tertiary-hover-text-color);
}
.cds-button--white.cds-button--tertiary:disabled {
  background: var(--cds-button-white-tertiary-disabled-background-color);
  color: var(--cds-button-white-tertiary-disabled-text-color);
  border-color: var(--cds-button-white-tertiary-disabled-border-color);
}
.cds-button--inverted {
  border-color: var(--cds-button-inverse-primary-default-border-color);
  background: var(--cds-button-inverse-primary-default-background-color);
  color: var(--cds-button-inverse-primary-default-text-color);
}
.cds-button--inverted:hover {
  border-color: var(--cds-button-inverse-primary-hover-border-color);
  background: var(--cds-button-inverse-primary-hover-background-color);
  color: var(--cds-button-inverse-primary-hover-text-color);
}
.cds-button--inverted:disabled {
  background: var(--cds-button-inverse-primary-disabled-background-color);
  color: var(--cds-button-inverse-primary-disabled-text-color);
  border-color: var(--cds-button-inverse-primary-disabled-border-color);
}
.cds-button--inverted.cds-button--secondary {
  background: var(--cds-button-inverse-secondary-default-background-color);
  border-color: var(--cds-button-secondary-tertiary-default-border-color);
  color: var(--cds-button-inverse-secondary-default-text-color);
}
.cds-button--inverted.cds-button--secondary:hover {
  background: var(--cds-button-inverse-secondary-hover-background-color);
  border-color: var(--cds-button-inverse-secondary-hover-border-color);
  color: var(--cds-button-inverse-secondary-hover-text-color);
}
.cds-button--inverted.cds-button--secondary:disabled {
  background: var(--cds-button-inverse-secondary-disabled-background-color);
  color: var(--cds-button-inverse-secondary-disabled-text-color);
  border-color: var(--cds-button-inverse-secondary-disabled-border-color);
}
.cds-button--inverted.cds-button--tertiary {
  background: var(--cds-button-inverse-tertiary-default-background-color);
  border-color: var(--cds-button-inverse-tertiary-default-border-color);
  color: var(--cds-button-inverse-tertiary-default-text-color);
}
.cds-button--inverted.cds-button--tertiary:hover {
  background: var(--cds-button-inverse-tertiary-hover-background-color);
  border-color: var(--cds-button-inverse-tertiary-hover-border-color);
  color: var(--cds-button-inverse-tertiary-hover-text-color);
}
.cds-button--inverted.cds-button--tertiary:disabled {
  background: var(--cds-button-inverse-tertiary-disabled-background-color);
  color: var(--cds-button-inverse-tertiary-disabled-text-color);
  border-color: var(--cds-button-inverse-tertiary-disabled-border-color);
}
.cds-button--destructive, .cds-button--destructive:disabled {
  border-color: var(--cds-button-destructive-secondary-default-border-color);
  background: var(--cds-button-destructive-secondary-default-background-color);
  color: var(--cds-button-destructive-secondary-default-text-color);
}
.cds-button--destructive:hover,
.cds-button--destructive :disabled:hover {
  border-color: var(--cds-button-destructive-secondary-hover-border-color);
  background: var(--cds-button-destructive-secondary-hover-background-color);
  color: var(--cds-button-destructive-secondary-hover-text-color);
}
.cds-button--destructive.cds-button--secondary, .cds-button--destructive.cds-button--secondary:disabled {
  background: var(--cds-button-destructive-secondary-default-background-color);
  border-color: var(--cds-button-destructive-secondary-default-border-color);
  color: var(--cds-button-destructive-secondary-default-text-color);
}
.cds-button--destructive.cds-button--secondary:hover, .cds-button--destructive.cds-button--secondary:disabled:hover {
  background: var(--cds-button-destructive-secondary-hover-background-color);
  border-color: var(--cds-button-destructive-secondary-hover-border-colo);
  color: var(--cds-button-destructive-secondary-hover-text-color);
}
.cds-button--destructive.cds-button--tertiary, .cds-button--destructive.cds-button--tertiary:disabled {
  background: var(--cds-button-destructive-tertiary-default-background-color);
  border-color: var(--cds-button-destructive-tertiary-default-border-color);
  color: var(--cds-button-destructive-tertiary-default-text-color);
}
.cds-button--destructive.cds-button--tertiary:hover, .cds-button--destructive.cds-button--tertiary:disabled:hover {
  background: var(--cds-button-destructive-tertiary-hover-background-color);
  border-color: var(--cds-button-destructive-tertiary-hover-border-colo);
  color: var(--cds-button-destructive-tertiary-hover-text-color);
}

/*# sourceMappingURL=components.css.map */
